[2017-09-04 18:28] styfle opened #3 "Why selectorClass?"
It seems like `selectorClass` is too specific.

It would be better to use `selector` so one could do the following:

[code]

Or the following:

[code]

Of course you could still select by class, just add a dot.

[code]

[2017-09-04 19:01] thiamsantos opened #4 "Use ES6"
Would be great to use ES6 in the project and let [Babel](https://babeljs.io/) and [rollup](https://rollupjs.org/) handle all the transpilation complexity.

[2017-09-04 19:31] ApoorvSaxena commented on #3
Agree, good idea. Will implement the same.

[2017-09-04 20:09] ApoorvSaxena commented on #3
it should internally make use of [document.querySelectorAll](https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelectorAll)

[2017-09-04 20:15] ApoorvSaxena commented on #3
@styfle have opened PR https://github.com/ApoorvSaxena/lozad.js/pull/5

[2017-09-04 22:09] thiamsantos opened #6 "Change method signature"
What do you think about changing the method signature from this:
[code]
For something like this:
[code]

In that way we would follow some good patterns followed by big libraries out there like [moment](https://momentjs.com/). Additionally [eslint](https://eslint.org/) has a rule that [discourages the use of `new` for side effects](https://eslint.org/docs/rules/no-new). There a [whole talk about th

[2017-09-05 00:58] styfle commented on #3
Thanks!

[2017-09-05 01:13] styfle commented on #6
Good points! I agree, the second API looks much better.

[2017-09-05 04:31] ApoorvSaxena commented on #6
I hadn't documented this feature, though lozad allows lazy loading elements that are dynamically added to the DOM:
[code]
what do you suggest for having this functionality in the recommended API interface?

[2017-09-05 17:44] #3 closed

[2017-09-05 18:20] ApoorvSaxena opened #7 "add basic test cases"

[2017-09-05 20:40] thiamsantos commented on #6
I think the best thing to do is recall the function, keep all the things simple. Something like:

[code]

**Note**: I personally don't like to use the [`new` operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/new) because I think it add too much overhead to things that could be much simpler. But if it must be used, the constructor should only receive the paremete

[2017-09-06 18:26] ApoorvSaxena commented on #6
@thiamsantos: first approach looks good.
`onLoad` seems like a post callback which gets triggered after the element loads, though our `load` function documentation is to allow developer to overwrite the implementationof Lozad's original load function with a custom one.

[2017-09-06 18:45] thiamsantos commented on #6
Cool! So I will a pull request.

Do you have any suggestions for a better name? I think that `load` is a little bit weird too. What about something similar to the [lifycycle events](https://facebook.github.io/react/docs/react-component.html#the-component-lifecycle) from [React](https://facebook.github.io/react/), like `willAppear` or `willLoad`, what do you think about that?

[2017-09-06 19:12] ApoorvSaxena commented on #6
how about `defineLoad`?

[2017-09-06 20:27] thiamsantos commented on #6
`customLoad` seems good to me. I still prefer a name that remember a event based callback like `willAppear`, but it is totally my taste. It will `customLoad` then?

[2017-09-06 20:45] thiamsantos commented on #6
Reading the code I realize that you were right since the beginning `load` is the best name for the function.

[2017-09-06 22:20] thiamsantos opened #10 "Update Readme"
Update readme to respect the [standard-readme](https://github.com/richardlitt/standard-readme) [spec](https://github.com/RichardLitt/standard-readme/blob/master/spec.md).

[2017-09-06 22:22] thiamsantos opened #11 "Improve contributing guidelines"
Do something inspired on awesome projects out there like [atom](https://github.com/atom/atom/blob/master/CONTRIBUTING.md). I personally use a [simplified version of these guidelines](https://github.com/thiamsantos/vanilla-commons/blob/master/CONTRIBUTING.md) in my projects.

[2017-09-07 07:50] ApoorvSaxena commented on #6
@thiamsantos there's a catch in the above implementation though, that a new object will instantiate a new IntersectionObserver instead of utilising already available observer instance.

[2017-09-07 15:47] brucelawson opened #12 "With JavaScript off, no images are shown."
https://apoorv.pro/lozad.js/demo/

(because no src="" attribute on img elements for fallback. Also, alt attribute is malformed; should be alt="")

[2017-09-07 16:37] ApoorvSaxena commented on #12
fixed, thanks for reporting 👍

[2017-09-07 16:37] #12 closed

[2017-09-07 18:55] brucelawson commented on #12
Thanks for fixing. I'd wondered about progressively enhancing a conventional img element so &lt;img src="picture.png" alt="" class="lozad">. If no JS, this loads normally, if JS is enabled, lozad can step in and lazy load them. (But that might be wasteful because the browser's pre-renderer might already have fetched the images?)

[2017-09-07 19:06] styfle commented on #12
Yes I believe that would happen.

[2017-09-07 19:18] brucelawson opened #13 "Amend readme to show use of <noscript> fallback"
As per previous issue.

[2017-09-07 19:26] ApoorvSaxena commented on #13
This need not be mentioned in the README, as this implementation is not specific to library.
Reference: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noscript

[2017-09-07 19:26] #13 closed

[2017-09-07 19:34] brucelawson commented on #13
But the readme should show developers how to use lozad while still offering a fallback if there's no JS. It's responsible coding.

[2017-09-07 19:53] styfle commented on #13
I agree it should be in the README.

Most people will likely migrate from simple `<img src="foo.png />` to lozad in which case, best practices should be demonstrated in the README.

[2017-09-07 20:27] thiamsantos commented on #6
Yeah, but I think that's not a big issue. In my opionion, a better interface or design of the code is more desirable than a faster code. In other words, I don't believe that kind of optimization bring so much benefit that worth the use of it.

[2017-09-08 03:03] ApoorvSaxena commented on #6
@thiamsantos performance is the essence of this library, this will be a common use case in dynamically added elements which is a common use case when using frameworks or ajax based approach.
I'll be happy to merge if you make these changes.

[2017-09-08 18:06] thiamsantos commented on #6
I will update my pull request.

[2017-09-08 18:24] thiamsantos commented on #6
Done. Now I use [factory functions](https://medium.com/javascript-scene/javascript-factory-functions-with-es6-4d224591a8b1):

[code]

@ApoorvSaxena what do you think?

[2017-09-09 14:21] ApoorvSaxena commented on #6
https://github.com/ApoorvSaxena/lozad.js/pull/9 was merged

[2017-09-09 14:21] #6 closed

[2017-09-09 17:18] ApoorvSaxena commented on #13
information regarding this is now available in [FAQs](https://github.com/ApoorvSaxena/lozad.js/wiki/Frequently-Asked-Questions)

[2017-09-09 17:18] #10 closed

[2017-09-09 17:19] ApoorvSaxena commented on #4
addressed https://github.com/ApoorvSaxena/lozad.js/pull/9

[2017-09-09 17:19] #4 closed

[2017-09-09 18:23] milianriedel opened #16 "Not working in Safari on Mac"
In last Safari (10.1.2) images dont load. Error in console: "Can't find variable: IntersectionObserver".

[2017-09-09 19:06] ApoorvSaxena commented on #16
Fixed. Will update the demo to load IntersectionObserver polyfill if browser's support is not available.

[2017-09-09 19:11] milianriedel commented on #16
Awesome. You're great 👍

[2017-09-09 19:45] ApoorvSaxena commented on #16
[Demo](https://apoorv.pro/lozad.js/demo/) now makes use of IntersectionObserver polyfill. @milianriedel thanks for opening up the issue.

[2017-09-09 19:45] #16 closed

[2017-09-09 20:14] thiamsantos commented on #11
Done at 65d562308eee667b22e66b7e59d1fedc05793fab

[2017-09-09 20:14] #11 closed

[2017-09-09 20:29] thiamsantos opened #17 "Put the demo on a separated branch"

[2017-09-09 20:32] thiamsantos opened #18 "Remove dist folder from git"
Remove dist folder from to git as it is a file automatically generated and we don't need to keep track of them. In that way would be possible to keep the pull requests more clean. To accomplish this just add the [dist folder](https://github.com/reactjs/redux/blob/master/.gitignore#L4) [to the `gitignore` file](https://github.com/developit/preact/blob/master/.gitignore#L4) and add a [files property

[2017-09-10 02:37] ApoorvSaxena commented on #18
Removing dist will require folks to implement the build procedure that we've implemented in our project, will seem overkill to new starters, though we can integrate [Travis CI](https://travis-ci.org/) to build `dist/` folder for us.

This should be done, right away.

CDN itself refers to the dist folder minified file.

[2017-09-10 13:08] thiamsantos commented on #18
Actually instead of download the files from github a newbie would download the files from the cdn in the same way. No need to to any build procedure.

https://cdn.jsdelivr.net/npm/lozad/dist/lozad.js
https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js

The best way to do it is add a [`prepublish` script to `package.json`](https://docs.npmjs.com/misc/scripts) that run the build script. So even the

[2017-09-10 13:30] thiamsantos opened #22 "Add git hooks"
Add [git hooks](https://git-scm.com/book/gr/v2/Customizing-Git-Git-Hooks) to prevent bad commits, by runing the linter and/or the tests before any commit. Could be used [husky](https://github.com/typicode/husky).

[2017-09-10 13:32] thiamsantos opened #23 "Use travis"
Add a simple build step on [travis](https://travis-ci.org/) to show the people that the package has no errors.

[2017-09-10 13:34] thiamsantos opened #24 "Add a editorconfig"
Add [editorconfig](http://editorconfig.org/) to keep a consistent coding style in the project.

See my [personal editorconfig](https://gist.github.com/thiamsantos/2cb85da16ce25134433838ad8598c5d9) as example.

[2017-09-10 14:21] ApoorvSaxena commented on #23
👍 done

[2017-09-10 14:21] #23 closed

[2017-09-11 04:02] plantain-00 opened #26 "Is this project willing take pull request of typescript definitions?"
It will be useful for typescript users and improve the experiences on some editors like vscode.

basicly a `index.d.ts` file with:

[code]

[2017-09-11 16:20] thiamsantos commented on #26
I think that's a good a ideia @plantain-00

[2017-09-11 19:06] ApoorvSaxena commented on #26
@plantain-00 can you share why it will be useful for typescript users? Also, currently we are only shipping `dist` folder when downloaded via npm, do you propose whitelisting the src file as well in that case?

[2017-09-11 20:14] thiamsantos commented on #26
I don't know for sure, but I think these definitions are only a file in the root of the project. So no need for use typescript in the code of lozad and these definitions are the only to be whitelisted besides the dist folder.

[2017-09-11 21:20] styfle commented on #26
This would be 1 additional file (`lozad.d.ts`) and a 1 line modification to `package.json`

[code]

Think of it like a `.h` file that includes headers and the `.c` file includes the body if you've used C/C++.

[2017-09-11 23:55] plantain-00 commented on #26
@ApoorvSaxena
The file describes the types of API of this library.
Typescript needs this for type checking.
For example, the `threshold` is declared as `optional number`, if users set it a `string`, the Typescript will show the error.

There is the link about publishing the types: https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/declaration%20files/Publishing.md
The file can be `

[2017-09-13 03:38] ApoorvSaxena commented on #26
@plantain-00 not able to understand any specific reason to make use of TypeScript over Vanilla JS. Also, this requirement doesn't curtail typescript users to still be able to use `Lozad.js` in their projects.

Foreseeing, that such a case may arise in the future seeking permission to have Coffeescript or any other JS flavour, it'd be better to have this as is.

[2017-09-13 04:09] tzikas97 opened #27 "Demo not working"
There is a **404 error** with the polyfill file:
[https://rawgithub.com/w3c/IntersectionObserver/gh-pages/polyfill/intersection-observer.js](https://rawgithub.com/w3c/IntersectionObserver/gh-pages/polyfill/intersection-observer.js)

It seems that the file has been removed on branch "gh-pages" over at:
[https://github.com/w3c/IntersectionObserver/tree/gh-pages/polyfill](https://github.com/w3c/Inter

[2017-09-13 08:56] #26 closed

[2017-09-13 11:05] thiamsantos commented on #26
You will continue to use vanilla js as before, just the type definitions will be added, wihtout changing the present source code. Lozad will not use typescript.

[2017-09-13 11:30] ApoorvSaxena commented on #27
@tzikas97 thanks for reporting, have fixed temporarily with the new path https://raw.githubusercontent.com/w3c/IntersectionObserver/master/polyfill/intersection-observer.js

Will be adding this as a dependency via `npm` module, so that such situation doesn't arise again.

[2017-09-13 11:33] ApoorvSaxena commented on #26
@thiamsantos will need to maintain two codebases then, and similarly for requests for any other JS flavour

[2017-09-13 11:36] thiamsantos commented on #26
@thiamsantos will need to maintain two codebases then, and similarly for requests for any other JS flavour

Actually no, the typescript definitions are not a codebase just the definitions for the types of the arguments.

[2017-09-13 11:40] thiamsantos commented on #26
Never mind. @plantain-00 added the type definitions to DefinitelyTyped/DefinitelyTyped#19712. So that discussion is useless :smile:

[2017-09-13 19:39] #27 closed

[2017-09-13 20:22] #18 closed

[2017-09-13 22:00] weaverhe opened #28 "Srcset"
Does your plugin work with srcset? Or only with src?

[2017-09-14 03:20] ApoorvSaxena commented on #28
@weaverhe you can define a custom load function while initializing Lozad to make use of srcset instead of `src` for now.

[code]

[code]

We'll support `srcset` by default in the library, queued in our tasklist. Thanks.

[2017-09-14 03:36] ApoorvSaxena commented on #17
not needed.

[2017-09-14 03:36] #17 closed

[2017-09-14 08:16] aganglada opened #29 "Polyfill IntersectionObserver"
IntersectionObserver is not supported entirely for all the browsers, see here

<img width="1264" alt="screen shot 2017-09-14 at 09 13 35" src="https://user-images.githubusercontent.com/922348/30419083-0b56d578-992d-11e7-9920-45645086f0f9.png">

Make sure we polyfill it optionally, so anyone that wants to support those browsers, can apply this library.

Let's use the official one: https://github.co

[2017-09-14 14:07] allrude opened #30 "No Fallback for when Javascript fails to load ?"
Is a fallback part of the task list? for when Javascript fails to load.

[2017-09-14 14:50] styfle commented on #30
Duplicate of #13

[2017-09-14 17:57] ApoorvSaxena commented on #29
@aganglada [README](https://github.com/ApoorvSaxena/lozad.js#browser-support) clearly mentions the browser support along with reference to polyfill.

[2017-09-14 17:58] #30 closed

[2017-09-14 18:04] #29 closed

[2017-09-14 18:22] ApoorvSaxena commented on #29
Have added this question in [FAQs](https://github.com/ApoorvSaxena/lozad.js/wiki/Frequently-Asked-Questions) as well.

[2017-09-18 08:19] stephenkingsley commented on #22
can I pick it?

[2017-09-18 16:02] #22 closed

[2017-09-19 02:31] stephenkingsley opened #33 "add dev server"
I think add a script just like `npm run dev`. It can see the example and it's convenient to debug and coding lozad.js

[2017-09-19 03:39] ApoorvSaxena commented on #33
@stephenkingsley PR is welcome 😄

[2017-09-20 12:54] stephenkingsley opened #34 "provide a polyfill"
IntersectionObserver is high version api [https://caniuse.com/#search=IntersectionObserver](https://caniuse.com/#search=IntersectionObserver). I think we can provide a polyfill version. what do you think?

[2017-09-20 13:18] styfle commented on #34
The wiki recommends a polyfill:

https://github.com/ApoorvSaxena/lozad.js/wiki/Frequently-Asked-Questions#how-to-support-browsers-in-which-intersectionobserver-is-not-supported

[2017-09-20 13:31] stephenkingsley commented on #34
nice! that is my fault! thx @styfle

[2017-09-20 13:31] #34 closed

[2017-09-22 18:09] #7 closed

[2017-09-22 18:35] KerryRuddock opened #36 "Does lozad.js support lazy load of background images? I am working on a project that has multiple background images in each section and I current preload the images, but I would like to use your script if this can be done."

[2017-09-23 06:00] ApoorvSaxena commented on #28
Lozad.js now supports responsive images by default 🍾

[2017-09-23 06:00] #28 closed

[2017-09-23 16:50] thiamsantos opened #38 "Automate publish to npm and bower using travis"
Travis has an [API to publish to npm](https://docs.travis-ci.com/user/deployment/npm/). A bower publish could be triggered when travis finishes to publish to npm using the [bower cli api](https://bower.io/docs/api/). After that done may be easy to remove the dist from the repository (ref #18).

[2017-09-23 16:53] thiamsantos commented on #36
@KerryRuddock You could create a load function to handle the background images.

[code]

[2017-09-24 19:58] ApoorvSaxena commented on #36
@KerryRuddock support for lazy loading background images has been added, please check the README :)

[2017-09-24 19:58] #36 closed

[2017-09-26 08:51] drebus opened #40 "Not working in Edge"
Demo not working in latest Edge. No errors in console.

[2017-09-26 15:38] KerryRuddock commented on #36
Great.  Thanks for this.

[2017-09-26 18:10] ApoorvSaxena commented on #40
@drebus can you open this [link](https://rawgit.com/w3c/IntersectionObserver/master/polyfill/intersection-observer-test.html) and share the status of tests run in Edge? Also, please share the exact version of Edge

[2017-09-26 20:41] rgfx opened #41 "Preloader"
Would like to make a preloader
Believe that users should have a indication of a loading element.
Is there an .is-loading class or something.

How can achieve this, thanks?

[2017-09-27 04:11] ApoorvSaxena commented on #41
@rgfx there are two approaches to solve this:
- in case your preloader is a gif, you can use it as the default source of element
[code]
- in case you want to use a CSS loader, you can use this selector `.lozad:not([data-loaded])` to select the images which are yet to be lazy loaded

[2017-09-27 07:35] drebus commented on #40
@ApoorvSaxena sure, I'm posting screenshot of failed items of test.

![bez tytulu](https://user-images.githubusercontent.com/11090105/30901158-ff1fc438-a366-11e7-91a8-6dbe0bf218df.png)

**Microsoft Edge 40.15063.0.0
Microsoft EdgeHTML 15.15063**

[2017-09-27 10:55] akxcv opened #42 "Expose a function to load specific images before they appear"
It would be useful to be able to preload certain images in advance when certain events are triggered (say, a menu is opened). Currently, though, the `load` function is not exported from the module. It would be useful to reuse it instead of having to write it by yourself.

The only issue I see is that the `load` function is configurable. Although I suppose, we could assign it to the `lozad` object.

[2017-09-27 11:38] thiamsantos commented on #42
That's a good feature @akxcv! What do you think @ApoorvSaxena?

[2017-09-27 15:30] Oxaze opened #43 "srcset"
Is it possible to add support for "srcset"?

[2017-09-27 15:50] thiamsantos commented on #43
`srcset` is already supported. Just pass a put a `data-srcset` attribute on the element. More information can be found on the readme.

[2017-09-27 17:47] #43 closed

[2017-09-27 18:00] ApoorvSaxena commented on #42
@akxcv @thiamsantos use case looks perfectly valid. How about using `preload` or `triggerLoad` as function name?

[2017-09-27 18:54] thiamsantos commented on #42
`triggerLoad` seems perfect

[2017-09-27 18:55] thiamsantos commented on #42
`triggerLoad` seems perfect

[2017-09-27 19:04] akxcv commented on #42
Yeah, `triggerLoad` seems fitting!

[2017-09-27 19:19] thiamsantos commented on #42
I just opened a pull request adding this feature

[2017-09-28 03:59] #41 closed

[2017-09-28 08:14] kleinfreund commented on #40
I can confirm this. I don’t understand how Edge claims full support, when it clearly doesn’t have it.

![edge](https://user-images.githubusercontent.com/5774638/30955870-7f0c1f06-a435-11e7-86a4-207bdcb897bd.png)

[2017-09-28 18:16] ApoorvSaxena opened #45 "List of websites using Lozad.js"
Will be adding list of such websites in README.

[2017-09-29 05:50] sepplbmx opened #47 "IE9 not working - loader Issue"
When emulating IE9, images do not load because of the following error:

The "loaded" property of an undefined or null reference can not be retrieved.

Seems like it hase something to do with the loaded statement. I tried to fix it but I failed:

t.dataset.loaded=!0

Any help would be appreciated.

Thanks,

Sebastian

P.S. Adding the Polyfill does not work either. As far as I understand, Polyfill o

[2017-09-30 22:50] aderaaij opened #48 "Testing for image element"
Hi! Thanks for the awesome library!

I was wondering if it would be an idea to actually test for the `img` element in the check that you do? Seeing that the `src` attribute can only be applied to a limited amount of elements, it would be easy to test for those and add specific functionality for them, and otherwise for background images. This way we can give the background image a regular `data-src

[2017-09-30 22:58] aderaaij opened #49 "Check if image is loaded?"
It seems that in a gallery with a large numbers of items it can happen that `data-loaded=true` or any class you add in the callback, for that matters, can be applied to an image while the background image is not yet fully loaded. This results in a suddenly appearing image (especially when the images itself are fairly large) because the transition was already applied before the image was loaded in

[2017-10-03 23:56] aderaaij commented on #47
This library uses arrow functions and spread operates, I don't think they're supported in ie9.

[2017-10-04 00:10] thiamsantos commented on #47
All these things are transpiled using [babel](https://github.com/babel/babel). So you don't need to worry about these.

[2017-10-04 00:31] thiamsantos commented on #47
@sepplbmx Actually it happens because [IE9 doesn't support `HTMLElement.dataset`](http://caniuse.com/#feat=dataset).

[code]

@ApoorvSaxena what do you think about that?

[2017-10-04 08:20] aderaaij commented on #47
@thiamsantos Ah sorry, it was late!  Of course it gets transpiled, although the problem is pretty close though. I guess in that case `dataset` should be replaced in the `defaultconfig` as well?

[2017-10-04 14:13] ethyde opened #50 "If image are after lozad init, image are not loaded"
Hi,

This library is really impressive, but I just realized that if an image is placed after initialization, it is never loaded.

I have made a little jsbin : https://jsbin.com/bofurugene/2/edit?html,output
And the 100*200 pic never load

So, how to do ?

Thanks.

[2017-10-04 14:29] thiamsantos commented on #50
That is an expected behaviour, it will track only the existing images. If you add dynamically another image you can trigger the observer again as described in the Readme.

In your example you could but the initialization of lozad inside an event of hte DOM:

[code]

Or just put the script before the closing body:
[code]

[2017-10-04 14:46] ethyde commented on #50
Thanks for your quick answer @thiamsantos !

I understand for the image added dynamically, but in my case, image exists in the DOM.

I think it would be a good idea to add this case to the documentation because it is not obvious that an existing image that is after initialization should be seen as a dynamically added image. Or that the position of the initialization in the page is of great importa

[2017-10-06 15:40] ApoorvSaxena commented on #48
Your welcome :)

Regarding:

Can you share an example where the image needs a `src` and `background-image` as well?

[2017-10-06 15:53] ApoorvSaxena commented on #47
@thiamsantos sure, support for [setAttribute](http://caniuse.com/#feat=dom-manip-convenience) is available IE6+

[2017-10-06 15:54] #40 closed

[2017-10-06 16:31] kleinfreund commented on #50
If it’s not important that lazy-loaded images start being loaded as soon as the relevant part of the DOM is processed, then all parts of the library should be called from within a `DOMContentLoaded` event listener to make sure all of the DOM is parsed.

In general, I don’t see a usecase for calling `observer.observe()` from code that is executed before the DOM is loaded completely.

[2017-10-06 16:57] aderaaij commented on #48
Oh absolutely never! I was strictly talking about data attribute naming. `data-background-image` does make sense but I just thought that it might be safer to test on tagname in general.

[2017-10-09 02:47] ApoorvSaxena commented on #50
@kleinfreund it will be better if the library user calls `observer.observe()` from within a `DOMContentLoaded` event listener to take care of such cases

[2017-10-09 02:49] ApoorvSaxena commented on #48
@aderaaij considering that Lozad.js allows lazy loading several other elements such as iframes, video, picture elements etc. as well, thus will be better to have the implementation as is

[2017-10-09 02:49] #48 closed

[2017-10-09 13:19] cnotv opened #53 "Kebab-case classes are not fired"
Following the documentation, to pick a typical CSS kebab-case class, does not make the plugin fire.

E.g.:
[code]

[2017-10-09 16:16] lionralfs commented on #47
I've submitted a PR (https://github.com/ApoorvSaxena/lozad.js/pull/54)

[2017-10-10 02:58] ApoorvSaxena commented on #47
thanks a ton @lionralfs for the fix 👍 and for testing it in IE9 as well 😃

[2017-10-10 02:58] #47 closed

[2017-10-10 20:23] pixelcure opened #55 "React Support?"
I was wondering if Lozad works with react? I'm currently having trouble getting it work, I was trying to utilize lifecycle methods and have it not start observing until after the component is rendered. However, it seems like based on the nature of react and vdom, it doesn't actually work because my component is rendered before Lozad is initialized.

Any ideas? I was trying something along the line

[2017-10-11 02:58] ApoorvSaxena commented on #53
@cnotv this works as expected, please check this Codepen [demo](https://codepen.io/ApoorvSaxena/pen/VMdexy) also, we have a working [test case](https://github.com/ApoorvSaxena/lozad.js/blob/068b3950649b504c51b9cbf236bf2b03271efe09/test/index.js#L72) for the same as well.

[2017-10-11 02:59] #50 closed

[2017-10-11 17:58] midzer commented on #49
Yeah, incase you want some animation or something like that to kick in, you have to ensure images are properly loaded first of all.

[2017-10-11 18:35] #53 closed

[2017-10-11 18:48] ApoorvSaxena commented on #45
this should be better be added in README directly, and people should be encouraged to share about the same instead of commenting in issues section

[2017-10-11 18:48] #45 closed

[2017-10-11 19:25] midzer opened #56 "Support videos and components"
Hi all,
i worked on a similar library few weeks ago. Besides `<img>` elements, i got `<video>` and components which need own (heavy) JS to lazy load as well: https://github.com/midzer/lazyobs

Maybe we can merge some ideas into this project :)

Cheers
midzer

[2017-10-11 20:14] styfle commented on #55
@ApoorvSaxena Does lozad accept a dom element instead of a selector?

If so, you could do something like the following:

[code]

[2017-10-12 03:29] #42 closed

[2017-10-12 03:30] ApoorvSaxena commented on #42
thanks for getting this done all the way @thiamsantos

[2017-10-12 03:35] ApoorvSaxena commented on #56
@midzer Lozad.js allows lazy loading of iframes, videos, images and other elements (using custom load function). Any specific feature that you want to discuss?

[2017-10-12 08:13] midzer commented on #56
@ApoorvSaxena i didn't realize from README video and lazy loading scripts for components is working already. Maybe i find another way to contribute to this cool project :+1:

[2017-10-12 08:13] #56 closed

[2017-10-13 08:19] lonepalmus opened #57 "After update to 1.0.7, data-background-image is no longer working"
I can see it was changed in https://github.com/ApoorvSaxena/lozad.js/commit/068b3950649b504c51b9cbf236bf2b03271efe09 from element.dataset.backgroundImage to element.getAttribute('data-backgroundImage')

But guess it should be element.getAttribute('data-background-image') instead?

[2017-10-13 13:48] midzer commented on #57
Yep, according to current README it is
[code]
Either adapt README from code or vice versa.

[2017-10-13 14:06] ApoorvSaxena commented on #57
@lonepalmus this will be fixed to have the same behaviour as it has been so far.

[2017-10-13 14:43] ApoorvSaxena commented on #57
@lonepalmus this has been fixed, and relevant test cases have been added

[2017-10-14 03:33] #57 closed

[2017-10-14 03:40] #24 closed

[2017-10-14 15:55] #33 closed

[2017-10-15 01:02] zabawaba99 commented on #38
I wouldn't mind taking this on. How do you want to publication to happen? Do you want Travis to publish when you create a tag or deploy to a specific branch?

[2017-10-15 16:24] ApoorvSaxena opened #61 "add test case for triggerLoad function"

[2017-10-15 16:29] #61 closed

[2017-10-15 17:26] ApoorvSaxena opened #63 "display size of lozad.js via badge"

[2017-10-15 17:33] #63 closed

[2017-10-15 18:21] ApoorvSaxena opened #65 "update documentation"
* mention about sites using Lozad.js

[2017-10-15 18:24] #65 closed

[2017-10-16 19:07] PezCoder commented on #55
I would like to work on this.

I can think of two approaches to implement it:
1. Either accept two different types in first parameter i.e either a dom node or a selector which I think is not a great idea for a variable to have two completely different type of values.
2. Another way is to pass the dom node in options as the second parameter but It'll be confusing to determine what will happen with

[2017-10-16 19:39] styfle commented on #55
Why not? This is what jQuery does. You can say `$('.some-class')` or you can say `$(document.getElementById('some-id'))`. This is commonly used inside an event handler like so:

[code]
[code]

[2017-10-17 04:37] ApoorvSaxena commented on #55
@PezCoder I agree with @styfle, you can go ahead with approach 1, of using either a dom node or a selector.

Regarding:

Options is not the right place to pass selector or DOM element as it's not a configuration setting.

This is performance intensive task, may even bloat the library size if using a dependency.

[2017-10-17 18:02] PezCoder commented on #55
Agree, @ApoorvSaxena @styfle The first approach seems optimal, I'll create a PR right away.

[2017-10-17 19:16] pixelcure commented on #55
Thanks guys! Then, we can add a reference on the image within your react component and pass that to lozad as opposed to a class?

@PezCoder @ApoorvSaxena

Let me know if I can help in any way 😃

[2017-10-17 20:24] PezCoder commented on #55
I think i went in wrong order of doing things.. 😅

@pixelcure I setup a quick react application with create-react-app
& did this:
[code]
This seems to be working fine, I got this DOM node inside my html
[code]
i.e with src & data-loaded = true..

Can you create a plunker/jsbin with minimal set of instructions that reproduces your specific issue ?

[2017-10-17 21:11] ApoorvSaxena commented on #55
@PezCoder do you mind sharing the react implementation in plunker/jsbin yourself?

[2017-10-17 22:02] PezCoder commented on #55
Codepen:
https://codepen.io/PezCoder/pen/mBaOer

Lesson learnt: To not dive in for a solution without verifying the issue first 😄

[2017-10-18 04:03] stephenkingsley commented on #49
we can provide a list to save imgs loading status.
[code]
And when have a img change status, we should update this list, and provide callback function. The developer can do whatever they want in this callback function.

If just add `data-loaded=true` attribute is not helpful and convenient to developers.

[2017-10-18 06:12] ApoorvSaxena commented on #55
@pixelcure can you verify the solution as proposed by @PezCoder?

[2017-10-20 08:10] ApoorvSaxena commented on #55
closing this issue for now

[2017-10-20 08:10] #55 closed

[2017-10-22 04:59] ApoorvSaxena commented on #38
creating a tag will suit best

[2017-10-22 12:47] g8up opened #69 "holp it supports specifying observe container"
https://github.com/ApoorvSaxena/lozad.js/blob/master/src/lozad.js#L47-L49

if the document can be replace by a specified dom, it will be greater!

[2017-10-22 16:08] ApoorvSaxena commented on #69
@g8up can you explain the use case once? Also, need to think whether it should be passed in observe API call, or just once at the time of initialisation of `lozad` library.

[2017-10-22 17:48] g8up commented on #69
I used it in a common image-list component of Vue.js，and holp it only observe `.lozad` just in the component's root element `this.$el` to get high performance.

[2017-10-25 18:17] ApoorvSaxena opened #70 "deprecating Bower support"
Considering that:
- Bower itself has been recommending use of Yarn for package installation
- No way to automate publishing update to bower
- most of the users are using jsDeliver CDN with ~1M downloads/month or npm package

thanks to @thiamsantos for suggesting this before as well, with data it's evident now that folks are using CDN directly or Yarn installation only.

[2017-10-25 18:30] #38 closed

[2017-10-25 22:52] ecollis6 commented on #70
I can help with this. Do we just need to update the bower.json description to instruct users to install via npm/yarn?

[2017-10-25 23:13] thiamsantos commented on #70
The steps are:

1. Before, notify all users of your module who might be affected by this change (see below)
2. Remove all distribution files and bower.json from repository
3. Tag repository with new major semver version (e.g from 3.5.6 to 4.0.0)
4. Don’t remove your component from Bower registry (via bower unregister)

More information can be found here: [How to drop Bower support?](https://bower.

[2017-10-26 16:44] ApoorvSaxena commented on #70
turns out bower tracks version update via git tag associated with library repo, need to reconsider this decision now :(

[![Bower version](https://badge.fury.io/bo/lozad.svg)](https://badge.fury.io/bo/lozad)

[2017-10-27 17:25] thiamsantos commented on #70
That's why is recommend tag with a new major version. So any bower users will continue to use the library as usual. But they will not be able to update the library.

[2017-10-29 15:08] jimblue opened #72 "Threshold not working"
Hi,

I was reading the official documentation to understand how Intersection observer work:

https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API#Intersection_observer_options

But while making some tests to fine tune, I've notice that changing threshold to any value doesn't delay the callback at all.

For exemple, the callback should wait until all pixel are in view if the t

[2017-10-30 07:54] sattes-faction commented on #69
I was also thinking about observing a container containing a bunch of images instead of observing each image separately. Does this make any difference in performance?

[2017-10-30 18:05] ApoorvSaxena commented on #69
@sattes-faction it should surely make difference when observing a container instead of individual multiple images

[2017-10-30 18:06] ApoorvSaxena commented on #70
@thiamsantos what I meant is that, supporting Bower doesn't need any extra setup and can be continued as it's working currently.

[2017-10-30 18:30] thiamsantos commented on #70
Yes, but we still need to bump the version of `bower.json` to match the tags. And if bower support was dropped, will be possible to remove the dist folder to cleanup the git diffs and the repo.

Basically anyone use bower, I just can't see a good reason to continue to support it.

[2017-11-05 01:13] jimblue commented on #72
@ApoorvSaxena can you confirm this bug?

[2017-11-07 21:42] ApoorvSaxena commented on #72
@jimblue can you share a codepen sample for failing case?

[2017-11-07 23:52] jimblue commented on #72
@ApoorvSaxena nothing special, even with the most basic setup, threshold doesn't work as expected.

In the following **pen** exemple the threshold is set to 1.
The callback should wait until all pixel are in view but that's not the case.

https://codepen.io/jimblue/pen/jaVNjP

[2017-11-10 09:10] jimblue commented on #72
@ApoorvSaxena can you confirm this bug?

[2017-11-11 05:39] ApoorvSaxena commented on #72
@jimblue this is surely not a bug, instead if you look closely, your image elements don't have a default size when the image is not loaded, and thus are completely visible in the viewport, after they load via lozad, you are able to see them placed out of the viewport.

See this codepen for reference https://codepen.io/ApoorvSaxena/pen/oGgxJr

[2017-11-11 06:05] jimblue commented on #72
@ApoorvSaxena, to be sure I've took you pen to test threshold this time and it's still not working as it suppose to...

You should have a look to the definition of threshold from mozilla.org:

Either a single number or an array of numbers which indicate at what percentage of the target's visibility the observer's callback should be executed. If you only want to detect when visibility passes the 50

[2017-11-12 10:01] ApoorvSaxena commented on #72
@jimblue again in the above codepen you have set threshold on the img element which has no height initially, and gets rendered asap. You can check out the correct implementation in this [example](https://codepen.io/ApoorvSaxena/full/vWmyQg/)

[2017-11-12 22:51] jimblue commented on #72
@ApoorvSaxena thank you so much for the explanation. 😄
Indeed with default image size provide it's working well:

https://codepen.io/jimblue/pen/jamzdN

[2017-11-12 22:51] #72 closed

[2017-11-17 20:02] marko-mlinarevic opened #73 "How to use placeholder images"
One fast question. Do I myself need to implement the logic for placeholder images?

[2017-11-21 12:03] czescwojtek opened #74 "Usage of data-index and issue with images not loading"
Hi there,

I'd like you to clarify the usage of data-index attribute if possible. You don't mention it anywhere in readme nor is it included in code but you use it in demo page (was there different demo page before?).
I am facing issue where random images do not render when are visible for first time but scrolling over them again causes a image to finally pop up. Utilising data-index attribute has

[2017-11-24 08:54] Yurgeman commented on #73
regards, is 2 versions:
1. to use into src - preloader `src="tpl/img/spinner.gif"`
```<img class="lozad" src="tpl/img/spinner.gif" data-src="tpl/images/catalog/catalog-item__01.jpeg">```

2. Use preloader, as background image for parent container

[2017-11-28 19:08] ApoorvSaxena commented on #74
@czescwojtek Please find the comments inline.

It's only for demo purpose and has no significance with the working of library.

This is possible if you move super fast over the area (where you are lazy loading your images), in which case intersection observer doesn't fire at all.

To avoid this issue, you can use `rootMargin` during initialisation of Lozad, which adds extra boundary to your images

[2017-11-28 19:09] #73 closed

[2017-12-05 21:34] skaltenegger opened #77 "lozad.js with picture-element to use src from source"
Hi there,

First of all great work, much appreciated!

I'm using lozad with the `<picture>` element like the following structure:
[code]

It happens that the final rendered image gets the `data-src` of the `<img>`-tag as its `src` rather than the desired source coming from the `srcset` of the matching `<source>`. Did I miss anything in the code above? I initialize it via simply calling `observer.o

[2017-12-06 06:41] takakii commented on #77
Does the source element also need the a class name 'lozad'?

[2017-12-06 07:04] takakii commented on #77
Does the source element also need the class name 'lozad' and `data-src`?

[2017-12-09 08:09] jimblue opened #78 "Improvement"
Hi @ApoorvSaxena ,

I've just discovered an other library using intersection observer to lazyload image with some interesting approach.

You should have a look to the code some part of it could be interesting to improve lozad.js 😄

https://github.com/marlospomin/turtle/blob/master/src/turtle.js

Cheers

[2017-12-16 06:39] jimblue commented on #49
Any update about this issue?

[2017-12-16 08:34] midzer commented on #49
In my similar library, i simply put `element.classList.add('loaded');` to each element that has been successfully loaded and begin an animation or something if necessary. Works for `video` and components lazy-loading any JavaScript, too.

You can check out code here https://github.com/midzer/lazyobs/blob/master/lazyobs.js

[2017-12-16 10:39] jimblue commented on #49
Hi @midzer, Lozad already provide such feature as it `data-loaded` is added on element load.
I'm actually using css to fade in on load like this:

[code]

It's kind of working 50% of the time as sometime the loaded content popup without fading.

Because is not 100% reliable I was wondering it's because the actual loaded callback is not precise.

I guess this is the subject of this topic...

[2017-12-16 13:24] aderaaij commented on #49
@jimblue is right. The data-loaded just happens when the strings get switched from data-src to src, that is not checking if the image is loaded.
Anyway, @jimblue, I made a fork of this repo which has a checking if images are loaded, but I changed some other stuff too. Let me see if I can get a pull request going. You can also add the code I added in the opening of this topic!

[2017-12-16 14:55] jimblue commented on #49
@aderaaij cool, sharp code indeed, I didn't understand the meaning at first sight!!!

But honestly, I prefer not customise the code on my side for obvious update reason.

I think I'm gonna wait for your pull request ! (sorry to be lazy... 😄 )

[2017-12-20 12:24] dutchenkoOleg commented on #77
just created pull request https://github.com/ApoorvSaxena/lozad.js/pull/80

[2018-01-07 23:35] jimblue commented on #49
Hi there! Any update about a fix?

[2018-01-16 11:42] chrishutchinson opened #81 "Support passing an `Element` or `NodeList`"
It would be really useful to be able to pass either an `Element` or `NodeList` as well as a string selector.

For example:
[code]
or
[code]

I'm using Lozad in a web component context, where I don't want to select my DOM node from the `document`, but rather some local tree. Being able to pass in the reference to the node(s) myself makes this trivial.

I have made the changes in a forked branch as

[2018-01-16 17:44] ApoorvSaxena commented on #81
@chrishutchinson great idea, please create a pull request, I'll merge.

[2018-01-18 19:02] ApoorvSaxena commented on #81
thanks @chrishutchinson for the quick and comprehensive PR 😄

[2018-01-18 19:02] #81 closed

[2018-01-18 19:03] ApoorvSaxena commented on #78
@jimblue , what parts are you specifically mentioning of?

[2018-01-18 19:17] ApoorvSaxena commented on #70
closing this issue for now

[2018-01-18 19:17] #70 closed

[2018-01-18 19:49] #74 closed

[2018-01-19 00:17] jimblue commented on #78
The it load image here: https://github.com/marlospomin/turtle/blob/e0b07b186c08c8041771ac9df233adc6f2143980/src/turtle.js#L33

[2018-01-19 18:12] iamdubx commented on #77
Is it implemented? This feature is must have

[2018-01-20 07:28] dutchenkoOleg commented on #77
@iamdubx Fixed problems across forks https://github.com/ApoorvSaxena/lozad.js/pull/80.
waiting for approve

[2018-01-23 19:51] ApoorvSaxena commented on #77
thanks to @dutchenkoOleg for getting the issue related to IE fixed.

[2018-01-23 19:51] #77 closed

[2018-01-24 10:34] AucT opened #83 "Make placeholder div"
can we make a div placeholder that will be shown before image fully loads, so images will not jump around

[2018-01-24 10:40] #83 closed

[2018-02-10 07:43] jimblue commented on #49
Hi @ApoorvSaxena,

This issue start to get old now but it's still unresolved. (more than 4 months)
However it's kind of a high priority one as you tagged it.

There is already a PR on the go here #79 , just need your input on it...
Could you please have a look?

Thank you

Cheers

[2018-02-13 14:25] lsarni opened #87 "Feature request: Low Quality Image Placeholders (LQIP)"
Would it be possible to keep the current behavior but once the image appears on the screen first load a lower quality image and then the final image?
This would reduce the time in which the image isn't display once the user reaches it.

[2018-02-13 16:09] pbuzdin opened #88 "iframes"
Where is demo and documentation about lazyloading iframes?

[2018-02-13 16:15] ApoorvSaxena commented on #88
there's no specific example, though you can implement lazy loading of iframes in the exact same way as you do for images

[2018-02-13 16:31] ApoorvSaxena commented on #87
@lsarni you can load the LQIP as inline image by default, and add the original source of image in `data-src` attribute of image. This will allow you to load LQIP by default when the page loads, and once the image gets inside visible area original image can be loaded

[2018-02-13 17:44] lsarni commented on #87
@ApoorvSaxena right, I could use low quality image as a placeholder but that would mean I still load data that the user might never see which is what I want to avoid.
By loading a low quality image once the user reaches the image then it will take less time to display something and I won't be loading unnecessary data.

[2018-02-16 17:42] #88 closed

[2018-02-28 20:29] Giovanni-Mattucci opened #90 "Feature Request: data-background-image responsive images with data-srcset"
Currently I use various media queries to include a different background image as needed, and being able to apply lozad to achieve the same result would be great :).

I wish you could define various background images in the same way you can for responsive images:

[code]

[2018-03-01 12:49] #87 closed

[2018-03-09 07:38] damac23 opened #91 "IntersectionObserver sometimes looses events on Chrome/ Opera"
The initial problem: This is extremly hard to reproduce and I too have reports for Firefox that I cannot confirm.

So sometimes in a list of let's say 20 images one or two aren't loaded. The data-loaded is not set, so if you scroll the element out of view and back again it will be loaded.

I've tried to find recent bugreports for Chrome, but was not lucky.
The only thing that came near my observat

[2018-03-09 12:54] fkwakkenbos commented on #91
@damac23 I'm experiencing the same issue. Using Chrome 65.0.3325.146.

Although i'm not having the issue on Chrome Canary 67.0.3366.0, so it seems it is a issue related to Chrome.

[2018-03-15 16:39] akkis commented on #91
I can confirm that with Google Chrome 65.0.3325.162 I have a lot of issues with the appearance of the images, while Firefox 60.0b3 works fine.

[2018-03-18 12:09] ApoorvSaxena commented on #91
Closing this issue, as needs to be fixed at the browser's end

[2018-03-18 12:09] #91 closed

[2018-03-18 22:06] 0gust1 opened #92 "alt attribute on lazy-loaded <picture> tags"
For the sake of accessibility, it would be cleaner if lazy-loaded images using `<picture>`tags could "inherit" their `alt`attribute from a data-X attribute on picture tag.

On our project we easily managed that by overloading the `load`function of lozad (and using `data-lazy-img-alt` attribute). It could be nice if it could be default (a11y is important).

There can be two ways :
* make this funct

[2018-03-18 22:11] 0gust1 opened #93 "Test coverage of responsive <picture> scenarii"
Attempting to make a PR to solve #96, I tried to implement a set of tests for responsive images using `<picture>`tags.

It's not that easy, because `js-dom`(used for tests) doesn't replicate the browser behavior of triggering a `src` attribute set in the  `<img>`tag injected by lozad. I tried using `mq-polyfill`, with no luck so-far.

l

[2018-03-22 13:25] ApoorvSaxena commented on #93
@0gust1 using headless browser for testing of Lozad.js is the right way to move forward

[2018-03-23 01:27] rgfx opened #94 "Issue with latest version of babel"
Getting Uncaught ReferenceError: lozad is not defined

Using https://babeljs.io/repl/ I made a codepen to show the issue

https://codepen.io/rgfx/pen/eMREGE?editors=0010

[2018-03-23 03:18] rgfx commented on #93
@0gust1 if you can get it working correctly with `<picture>` you will be my hero :)

[2018-04-01 04:30] mediabeastnz commented on #90
Bump!

[2018-04-05 05:26] abhimrawks opened #96 "Images are being observed by lozad, but not lazily loaded on scrolling."
_In network calls_: All images are loaded at once instead of getting loaded only when they appear in the viewport.
_In console_: They get printed only when they appear in the viewport. I am able to print on the console using load() function. So the library has access to the images.

The code is minimal to test the library
[code]

Browser: Version 64.0.3282.186 (Official Build) (64-bit)
OS: macOS H

[2018-04-05 09:08] damac23 commented on #96
That is because you've already put the images into the src-attribute.
You need to use a placeholder image in src and the real image in data-src.

[2018-04-09 08:59] PekkaPLeppanen opened #97 "Backround image URL with special characters fails"
Here's an [example image](https://cdn.asunnot.oikotie.fi/56pJShdOjYu66RkVvvFT_nmIEk8=/fit-in/980x550/filters:watermark(https://cdn.asunnot.oikotie.fi/FNgYc0cxRts1I9PguvqoW4Bqtrw=/static.asunnot.oikotie.fi/oikotie_watermark.png,0,-1,1):background_color(white):format(jpeg)/ot-real-estate-mediabank-prod/864/859/source/178958468) with special characters in URL. It has parenthesis in the URL.

This URL

[2018-04-09 18:37] #96 closed

[2018-04-09 18:39] ApoorvSaxena commented on #97
@PekkaPLeppanen Pull request is welcome

[2018-04-10 14:14] bingeling opened #99 "Attribute-updating order in load() results in Safari loading images twice"
The default function to load images first copies `data-src` to `src`, followed by `data-srcset` to `srcset`.
This means the image tag gets updated twice: first with a src-attribute and then with a srcset-attribute.
The result is Safari loading the image defined in the src-attribute and then *also* loading the best-suited image from the srcset, since for a short moment it is a default image tag bef

[2018-04-15 17:24] ApoorvSaxena commented on #94
@rgfx sorry for the delay in reply, can you investigate the issue with babel?

[2018-04-15 17:25] ApoorvSaxena commented on #93
@0gust1 any updates on the test case implementation?

[2018-04-15 17:29] ApoorvSaxena commented on #90
@Giovanni-Mattucci @mediabeastnz @patrickpietens what implementation change do you suggest in library?

[2018-04-15 17:32] ApoorvSaxena commented on #92
@0gust1 if test case addition in their current form is hard to implement, then we can move ahead atleast with the functionality addition in the library followed by test cases.

[2018-04-16 15:49] sprynm commented on #90
The current docs show:
[code]

It would seem this is addressed by applying the same behavior to `<div class="lozad" data-background-image="image.png">`

[2018-04-16 18:27] ApoorvSaxena commented on #90
we can document custom loading function to implement this behaviour

[2018-04-20 20:40] 0gust1 commented on #93
@ApoorvSaxena Hi ! I have locally a "working" prototype with jest and pupeteer. Sorry, didn't had much time (lot of churn at work+family).

Would you accept to remove the pre-commit hook on eslint (and let it for the build, of course) ?
It will enable people to push quickly an "imperfect/incomplete" code on a feature branch and working together on it.

[2018-04-20 20:43] 0gust1 commented on #93
Also, the choice of puppeteer is questionable, with it, you can't test issues like this one : https://github.com/ApoorvSaxena/lozad.js/issues/99

[2018-04-20 20:44] thiamsantos commented on #93
@0gust1 with you want to push "imperfect/incomplete" code just add an `-n` flag to your commit. Something like: `git commit -m "something good but incomplete" -n`. By doing that the git hook is skipped.

[2018-04-21 20:15] ApoorvSaxena commented on #97
[Lozad's npm package](https://www.npmjs.com/package/lozad) has been bumped and published

[2018-04-21 20:15] #97 closed

[2018-04-23 07:13] 0gust1 commented on #93
@thiamsantos thanks, I forgotten that :)

@ApoorvSaxena here we go : https://github.com/ApoorvSaxena/lozad.js/pull/101 I think, I'll update the PR in next days / next week (I'm on holidays abroad, should have access to net).

[2018-04-23 07:32] 0gust1 commented on #94
@rgfx I didn't manage to reproduce the issue. I also see that you didn't use the "Babel" option as a JS preprocessor in your Codepen example and seems to have used Babel externally. This (and a potential misconfiguration) could be the cause of your issue ?

[2018-04-26 13:59] jimblue opened #102 "Changelog and Roadmap"
Hi @ApoorvSaxena,

Thanks for the new release of lozad!
I was wondering how this new release is better or if there are some breaking change but it didn't found any **changelog**.

It could be nice to be able to know if it's okay to update or for debugging after an update.

Also I was wondering if you have a **roadmap** in mind for lozad?

For exemple do you plan to fix #49 ? It's a pretty old issu

[2018-05-01 12:08] jimblue commented on #49
Hi @ApoorvSaxena !

Any update about this issue? Do you plan to fix it or not?

Cheers

[2018-05-03 03:09] ApoorvSaxena opened #103 "Update Changelog"

[2018-05-03 03:16] ApoorvSaxena commented on #102
@jimblue I've added a [new issue](https://github.com/ApoorvSaxena/lozad.js/issues/103) with respect to changelog. Regarding the roadmap for Lozad, functionality wise it looks complete with a few exceptions as mentioned in issues, but apart from this test coverage needs to be improved drastically, I'll list down all the points and update the README/Wiki to have everyone on the same page.

Will be r

[2018-05-03 21:30] jimblue commented on #102
Hey @ApoorvSaxena, thanks for the changelog issue and the transparency about the roadmap 👍 !

About #79, you should read comments on this PR #86, me and others made some suggestions that could help you.

Cheers

[2018-05-04 16:41] TiKevin83 opened #104 "Polyfill Suggestion"
Hi,
I found a small bit of JS and reworked it to only load the w3c polyfill if the browser doesn't yet support the IntersectionObserver API, you might want to use it in your FAQ.  If there's a more efficient way of doing this so that you get the native IntersectionObserver behavior on Chrome/Firefox/Edge and the polyfill on Safari/IE do let me know.

if (!('IntersectionObserver' in window)) {

[2018-05-05 20:10] ApoorvSaxena commented on #104
@TiKevin83 thanks for sharing this, have updated [FAQs](https://github.com/ApoorvSaxena/lozad.js/wiki/Frequently-Asked-Questions)

[2018-05-06 16:31] #104 closed

[2018-05-08 12:22] marcospgp opened #105 "Lazy loading the low quality version"
* On a project I'm working on, we're using Lighthouse for performance testing, which is pretty much mobile 3G first. This means that every http request counts!

* We are using the LQIP technique: `<img>` tags have a low quality thumbnail as `src`, and the full resolution image as `data-src`, which is lazy loaded by javascript. I'm assuming this is possible with lozad as well.

* Right now we stand

[2018-05-10 19:11] ApoorvSaxena commented on #103
updated

[2018-05-10 19:11] #103 closed

[2018-05-27 09:28] istvanvasil opened #106 "Lozad and Choo?"
Hi!

I am trying to implement Lozad into a website that I am building using a framework called[ Choo](https://choo.io/). I am a full-time designer and do coding on the side. So my knowledge is limited and would appreciate some help with this.

Anyone has any experience pairing the above two?

I have an `images.js` file that returns images by mapping an array of file names and returning the html co

[2018-05-29 19:11] TiKevin83 commented on #105
It sounds like you might want to convert your micro-thumbnails to data URLs, that would let you inline the image and reduce your HTTP requests and then just use lozad for the final lazy load step.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs

[2018-06-02 14:39] aminta opened #107 "Loaded callback doesn't work on $(document).ready, only after first scroll"
Hi, I'm using lozad.js together with DeSandro masonry.

Here is the code:

[code]

I have to use DeSandro `imagesLoaded` to detect what images are added to the DOM when the page loads an call the `msnry.layout()` method.

I thought it was enough using the `msnry.layout()` method on the lozad `loaded` but it works only after the first scroll: why?

Thanks!

[2018-06-03 18:27] ApoorvSaxena commented on #106
@istvanvasil possible to share a codepen implementation for the same for us to help you out?

[2018-06-03 18:30] ApoorvSaxena commented on #107
@aminta possible to share a codepen implementation of the same?

[2018-06-03 18:32] istvanvasil commented on #106
I went ahead and figured out a workaround actually. But thank you for you help.

[2018-06-03 18:32] #106 closed

[2018-06-07 08:37] blu94 opened #108 "Not showing image on second carousel"
Lozad not displaying image when carousel load second image

[2018-06-12 09:21] rafaaro opened #109 "Lazy loading background image on <body> tag"
I got a doubt about how to properly lazy load background images on `<body>` tag.

For reference, I'm using [TailwindCSS](https://tailwindcss.com/docs/what-is-tailwind/) framework.

I added the `lozad` class to the `<body>` tag and set a background image with gradient overlay by defining a `background-image` in my stylesheet like this:

[code]
The image loads and everything seems fine, however I'm

[2018-06-15 09:49] robots4life commented on #92
I am using picture tags with the img alt attribute for a client that needs a11y.
How can I use lozad while still making sure that in the end the img alt attribute is correctly shown?
Is there a step to step procedure I could follow to achieve this?

Or how does this

work please?

[2018-06-15 16:43] 0gust1 commented on #92
@robots4life :
I should have said `override` instead of `overload` :)

Basically, you can easily customize the behavior of lozad, and use your own loading function (code from documentation) :

[code]

What we have done in our project : we made our own loading function, based on the default one of lozad :

[code]

[2018-06-18 11:10] robots4life commented on #92
@0gust1 Thank you heaps for the detailed explanation. Invaluable help! Will try to get this going and report back.

[2018-06-18 12:17] sketchbuch opened #110 "Does lozad try and load lazyload images during idle time?"

[2018-06-18 18:15] ApoorvSaxena commented on #110
Nope, but this looks like a good addition. How do you plan to detect idle time in a performant manner?

[2018-06-19 08:45] sketchbuch commented on #110
I was hoping you would come up with a performant way ;)

Well obviously to start with use window.requestIdleCallback() for supporting browsers... sadly this doesn't include Edge or Safari.
What about dynamically adding <link rel="prefetch"...> tags to the dom? Won't they then automatically be downloaded during idle time... and then when lozad tries to lazy load a preloaded image it will won't need

[2018-06-19 11:48] Jab2870 commented on #110
I'd say that this is an enhancement so (as long as it doesn't break anything) browser support shouldn't be a huge concern.

Browsers that support requestIdleCallback will get the added performance, those that don't won't.

FYI, it is likely that future releases of edge will support it:
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/requestidlecallback/
and Safari is consideri

[2018-06-19 12:04] sketchbuch commented on #110
Maybe I shall get round this week or next week to making a pull request

[2018-06-24 08:01] hubpork opened #111 "Check if print?"
Hello
Thanks for this great plugin. I use it productively and I am enthusiastic. I know that hardly any pages are printed today. But the customer wants a page that can be printed. Is there a hint?

[2018-06-26 21:20] allanwhite commented on #90
Definitely wanted to support a Bump on this one.

[2018-06-27 06:40] ApoorvSaxena commented on #111
@hubpork you can load all images before triggering print by making use of [triggerLoad API](https://github.com/ApoorvSaxena/lozad.js/blob/master/src/lozad.js#L90) documented [here](https://github.com/ApoorvSaxena/lozad.js#usage)

[2018-06-27 06:42] ApoorvSaxena commented on #109
@rafaaro possible to share a codepen implementation?

[2018-06-27 06:42] ApoorvSaxena commented on #108
possible to share codepen implementation for debugging?

[2018-06-27 06:44] #105 closed

[2018-07-10 07:06] sajadghawami opened #113 "SEO friendly?"
Hey there,

does anyone have any experience with this library and its SEO-friendliness? If so, would be glad if you could share your experiences!

Thanks.

[2018-07-10 08:28] code-mattclaffey opened #114 "If I use picturefill for IE11 would this plugin work?"
Hey,

Just checking if this would work if my browser had the picturefill polyfill for IE11?

[2018-07-10 18:15] ApoorvSaxena commented on #113
@sajadghawami had answered this question in [FAQs section](https://github.com/ApoorvSaxena/lozad.js/wiki/Frequently-Asked-Questions#does-lazy-loading-of-image-impacts-seo)

[2018-07-10 18:19] ApoorvSaxena commented on #114
Lozad was [tested](https://github.com/ApoorvSaxena/lozad.js/pull/54#issue-145493205) by one of the community member on IE9 and it worked perfectly, thus should work fine in IE11 as well

[2018-07-12 06:03] #111 closed

[2018-07-12 06:03] #114 closed

[2018-07-12 06:03] #108 closed

[2018-07-13 04:56] #113 closed

[2018-07-16 07:10] dooman87 commented on #92
Hey guys, I raised a PR for this feature. Appreciate if you can have a look.

[2018-07-16 09:33] ApoorvSaxena commented on #110
we should better make this configurable, as we may not want to consume user's bandwidth unnecessarily in situations like mobile browser and less capable network connection

[2018-07-16 20:09] ApoorvSaxena commented on #92
feature has been released in v1.5.0 of Lozad and added in README as well, thanks everyone for their contributions on this thread

[2018-07-17 08:08] #92 closed

[2018-07-19 08:57] marcrobledo opened #117 "On error load fallback"
It would be great if we could set an image used as a fallback if `data-src` failed to load.

Example:
`<img data-src="image.png" data-errorsrc="notfound.png" class="lozad" />`

[2018-07-19 19:06] ApoorvSaxena commented on #117
@marcrobledo this seems like a good idea, this should be done in conjunction to https://github.com/ApoorvSaxena/lozad.js/pull/79

[2018-07-19 19:06] #109 closed

[2018-07-19 19:10] ApoorvSaxena commented on #107
@aminta current implementation of `loaded` gets triggered when the image loading has been triggered by Lozad and not when it's completely loaded

[2018-07-19 19:10] #107 closed

[2018-07-20 18:21] allanwhite commented on #110
@sketchbuch How can you dynamically add a prefetch call to the dom, in such a way that it behaves like prefetch should? It would seem to me, that by the time you've inserted that (after initial load, initial dom parse, then JS parse) the utility of prefetch has passed. For items way down the page, perhaps.

I'd think it would make more sense if image URLs are available to a page/template, baking t

[2018-07-23 11:10] martinbroos opened #118 "Use Lozad to know when element has entered viewport"
Hi,

Is it possible to use lozad to know when an element has entered the viewport?

When doing this:
`<div class="lozad"></div>`

It results in this

`<div class="lozad" data-loaded=true></div>`

So Lozad seems perfect to do this type of checking, but I don't now if there is a way to listen for this event in javascript? This would save me an extra library such as Waypoint.js

If this is not in the

[2018-07-23 11:47] martinbroos commented on #118
It was actually quite easy to use the IntersectionObserver Api myself. For anyone wanting to do the same thing check out https://alligator.io/js/intersection-observer/

So if you don't see the need to add events to Lozad the above sollution is also fine with me.

[2018-07-26 18:14] ApoorvSaxena commented on #118
@martinbroos as you mentioned, this requirement deviates from the core purpose of lozad

[2018-07-26 18:14] #118 closed

[2018-08-06 10:15] mahish opened #120 "Generate an ES2015 module build alongside the UMD build"
It is not possible to use Lozad as ES6 module in other projects right now (using Rollup as a project bundler via `import lozad from 'lozad'`).

1. There should be a third build file which is not bablified neither uglified. Exported in the `es` format (eg.: `lozad.es.js`). Give chance to decide whether to use babel or uglify to devs!
2. In `package.json`, there should be `module` property pointing

[2018-08-09 16:45] kickbk opened #123 "Bootstrap carousel"
First slide on BS4 carousel gets lazy loaded just fine. Other images not. (You can inspect elements and see that the first image is data-loaded="true", other images not)
See https://codepen.io/kickbk/pen/qyLOeN

How do we apply lazy loading to images in slides when they enter into view?

[2018-08-09 19:26] TiKevin83 commented on #123
You're only selecting the first img with querySelector in your JS, you should be all set just changing that to querySelectorAll as in the example.

[2018-08-10 11:53] hkaraoglu commented on #43
Is it supported when an image loaded dynamically?

[2018-08-10 12:27] darrenjacoby commented on #90
I also needed this, so got a version of it working.

I can now pass in `data-background-image-md`, `data-background-image-lg`, etc, depending on breakpoint values that I define in the JS.

You need to re-write load, the only thing changing here is this section;
[code]

The rest remains as is, full example below;

[code]

[2018-08-10 12:40] darrenjacoby opened #124 "Update load() without overwriting defaults"
Is there a way to add to the existing load() function, rather than overwriting it?

[2018-08-15 08:02] i-like-robots opened #125 "Should getElements() be scoped to the root option?"
The `root` option added in #122 allows the configuration of a specific element to use as the "viewport". Observable elements [must be children of the root][0] but the `getElements()` function still fetches elements [scoped to the document][1]. Should it be scoped to the root too?

It is currently possible to disambiguate this by providing a more specific selector but it may not always be possible

[2018-08-17 01:57] ZCweb opened #126 "Lozad working with Masonry Grid"
Check out my codepen. https://codepen.io/zcweb/pen/KBjYqW

I am having an issue in our wordpress theme getting lazyload to work with masonry grid. It would be great to have lazyload work down the page. We are lazyloading background images so you'll see it on the 'section' tag. I also lazyload image in the outputted wordpress content which is not in this example. In our theme loaded from Advanced C

[2018-08-20 13:40] TiKevin83 commented on #126
Currently your masonry grid code is depending on images being loaded before it runs to see their size and know how to flow the layout.  You'll need to hard style the sizes of the boxes that the images will fit in and then load the images after the masonry grid has flowed the layout based on those box sizes.  You'll want to use data-src instead of src on the image tags as well, right now lozad isn'

[2018-08-20 14:47] ZCweb commented on #126
I made it data-src instead of src so that is working now.

So my images load in a div called 'box'. So I put styles in like: <div class="box" style="width:1080px; height:520px;"> for an image that is 1080px by 520px. I did a couple but it looks like it is loading the image to be huge across the page and masonry isn't putting it into the 3 columns which I have masonry set at. 33%

[2018-08-20 14:59] TiKevin83 commented on #126
Try doing style="width:360px; height:240px; width="360" height="240" on the image tag only instead of the box with the appropriate height for each image instead of 240

[2018-08-20 22:17] ZCweb commented on #126
OK thanks. I did it: https://codepen.io/zcweb/pen/KBjYqW but the images are looking stretched out constrained by width and respecting the height. There is a max width of 100% which is probably constraining the width.

I then changed the height to be the actual width and height:auto; which looked right but then when going to the 4th image and so on it ended up looking funky like before. So what I h

[2018-08-21 17:58] TiKevin83 commented on #126
https://codepen.io/tikevin83/pen/mGyOMZ

I looked up some tricks to create boxes with set aspect ratios and came up with this.  All you do is add a hard coded padding-bottom style to each box with the percent being 33% (the width of the box) multiplied by the photo's native aspect ratio.

[2018-08-22 14:48] Joffrey-Parisot commented on #124
It would be cool, I need this feature to lazy-load poster on video element. 👍

[2018-08-28 10:29] obendev opened #127 "Howto use lozad with videos?"
Hey!
I've included lozad.js with the cdn `<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>` and I use this code for inserting my video:

[code]

If I then paste

[code]

in the console it adds the `data-loaded="true"` to the `<video>` but nothing happens.
Am I doing something wrong?
I thought it would convert `data-src` to `src`

[2018-08-28 16:49] TiKevin83 commented on #127
Have you tried doing class="lozad" on the <source> element?  Lozad looks for things with the class specified and changes data-src to src on that specific element.

[2018-08-29 11:44] lkdvc commented on #127
Yes, I already tried `<source class="lozad" data-src="files/videos/test.mp4" type="video/mp4"`

However I'm now using an [other script from Google](https://developers.google.com/web/fundamentals/performance/lazy-loading-guidance/images-and-video/#for_video_acting_as_an_animated_gif_replacement) now because I only need it for videos anways.
This can be closed. 👍

[2018-09-03 09:44] ApoorvSaxena commented on #127
@obendev this should be fixed in `Lozad.js`

[2018-09-04 19:40] ZCweb commented on #126
Cool that worked!

I have an issue when resizing the screen which adds incorrect padding - too much padding. The width stays at about 33% but the bottom padding is much larger than the image. Something gets screwed up when dragging the screen. If I refresh the page at the new screen size then the layout looks good. It is just moving the window after the initial page load as it calculates how to fi

[2018-09-04 19:44] TiKevin83 commented on #126
I think a true fix would require improving the masonry script itself so that it handles allocating appropriately sized spaces for the images, instead of trying to retrofit the appropriate space with padding.

[2018-09-11 08:50] SylvainAllignol opened #128 "Image loaded"
Hello,
The data-loaded is triggered before the ims src is actually replaced, so a CSS transition between the 2 states is not possible

[2018-09-11 17:27] TiKevin83 commented on #128
Hi Sylvian,
I use the data-loaded trigger for CSS transitions in this example slideshow project.  I just wrapped the images in a container div and transitioned the container instead of the image itself.
https://codepen.io/tikevin83/pen/BPvQMz

[2018-09-11 21:07] TiKevin83 opened #129 "Elements aren't Unobserved if Loaded via triggerLoad"
I noticed that the triggerLoad function currently does not unobserve elements, so an unnecessary onIntersection can still happen that will return immediately due to the isLoaded check.  I had the idea in my fork to instead of just adding observer.unobserve(element) in triggerLoad to also have the onIntersection and observe methods call triggerLoad instead of duplicating the code from triggerLoad.

[2018-09-11 21:12] TiKevin83 opened #130 "Picture img Insertion helpful outside IE"
From my experience using lozad so far I've needed to remove the isIE check when lazy loading pictures as chrome expects me to style the picture based off of a fallback img tag as opposed to styling the picture tag.  Are others experiencing this / would it make sense to remove the isIE check before fallback img insertion?  I made the change in my fork and also used hasAttribute in the attribute che

[2018-09-16 11:44] Levdbas commented on #127
Hi @ApoorvSaxena , any word when this is going to be adressed? :)

[2018-09-28 02:51] Alfrex92 opened #132 "Wordpress plugin"
Are you planning to release a Wordpress plugin in the near future?

Currently, none Wordpress plugin use the Intersection Observer API for lazy loading. I think that is a good business opportuniy.

I would not mind paying for it.

[2018-10-05 00:44] ownergroup commented on #50
Thank you @thiamsantos!! Hours debugging..

[2018-10-16 17:31] allanwhite commented on #90
@darrenjacoby Would you consider submitting this as a PR?

[2018-10-18 12:02] TokyoWeb opened #134 "data-srcset remaining as data-srcset when visible"
Hi ! First i would like to thank you for Lozad. So powerful and such a small size. I love it.

Nonetheless after two months using and placing like 500 responsive images in my site, I just realized I must be doing something wrong or there is an issue when using "data-srcset". The "data-src" is loaded as "src" when visible, but the data-srcset remains always "data-srcset" then the browsers are only

[2018-10-30 07:15] ApoorvSaxena commented on #134
Please find the comments inline.

Thanks for the kind words.

As per the codepen implementation, it should have worked, I'll be checking the codebase once, not really sure if it's related to #99 (for which I have an open PR waiting to be reviewed and merged #116 )

[2018-10-30 10:19] Levdbas commented on #132
I might consider it doing it in the future. In the meantime, you can achieve it on your own by using. You would only need to load lozad.js and use the class .lazyload as the trigger. Have fun!

/**
 * adds lazyload attribute to all image loaded inside the_content()
 *
 * @param [type] $content
 * @return void
 */
add_filter('the_content', 'baseplate_lazyload_content_images', 11);
function baseplat

[2018-10-31 05:38] ApoorvSaxena commented on #127
@Levdbas can you share a working codepen implementation along with PR & test cases. Solution looks fine to me.

[2018-10-31 06:42] ApoorvSaxena commented on #130
needs validation, also please open PR along with test cases and a codepen implementation

[2018-10-31 06:44] ApoorvSaxena commented on #129
yes, it should unobserve element after it's loaded by any means

[2018-10-31 06:45] #128 closed

[2018-10-31 06:46] #126 closed

[2018-10-31 06:48] ApoorvSaxena commented on #125
@i-like-robots what do you suggest to overcome this issue?

[2018-10-31 06:49] #123 closed

[2018-10-31 06:49] #120 closed

[2018-11-01 09:53] ApoorvSaxena commented on #125
thanks for your contribution @i-like-robots 👍

[2018-11-01 09:54] #125 closed

[2018-11-01 13:16] ApoorvSaxena commented on #134
@TokyoWeb just found that you've overwritten load function which seems to be copied from our demo page

[code]

the new overridden load function definition only handles `src` case and not `srcset` or any other case that original [`load`](https://github.com/ApoorvSaxena/lozad.js/blob/master/src/lozad.js#L11) function handles, thus don't override `load` function in your actual code and you should be

[2018-11-04 20:32] Levdbas commented on #127
Hi @ApoorvSaxena ,

Completely new to the PR/contributing part to public repo's. I will try to setup a PR but first I need to read a bit about it first. In the meantime, check out this codepen example: https://codepen.io/anon/pen/LXEZvw

updated code from last time:

`if (element.nodeName.toLowerCase() === 'video' && !element.getAttribute('data-src')) {
      if (element.children) {
        const

[2018-11-05 11:16] ApoorvSaxena commented on #127
@Levdbas I'll be glad to wait for your PR, and guide you if needed to make your first PR to this repo.

As far as code is considered, it looks fine. Will go through the documentation of `<video>` element myself as well

[2018-11-07 12:51] gchtr opened #142 "Improve compatibility of data-srcset with IE9-11 and other older browsers"
## Expected Behavior

When using `data-srcset` on an image tag, the `srcset` attribute should be set in IE9-11.

## Current Behavior

The `srcset` attribute is not set in IE9-11 with the following lines:

https://github.com/ApoorvSaxena/lozad.js/blob/6ec2448d7995218999676de0bddb28f26b1073ca/src/lozad.js#L25-L27

The reason is that direct manipulation of an attribute is only possible for supported

[2018-11-08 04:44] ApoorvSaxena commented on #142
@gchtr considering browser compatibility concerns, we can make use of `setAttribute` function everywhere instead of direct manipulation of element attribute, a PR contribution from you will be really helpful

[2018-11-08 15:33] gchtr commented on #142
I just added the pull request.

I think other attributes like `src`, `alt` and `style` are very well supported (HTML4) and wouldn’t need a special treatment. Maybe we don’t have to overoptimize 😉?

[2018-11-08 17:09] ApoorvSaxena commented on #142
@gchtr thanks for your contributions, not overdoing makes perfect sense 😃

[2018-11-08 17:32] #142 closed

[2018-11-10 09:09] Jab2870 opened #144 "Picture Element Lazy Loading"
Firstly, thanks fo creating this amazing tool. I use it on almost every website I build. I would, however, like to open a discussion about the way that picture elements are lazy-loaded.

Why not just put the class `lozad` on the picture element and add then, when it enters the viewport, change all data-srcset attributes to srcset attributes on the source elements and on the img element, do the sam

[2018-11-12 05:00] ZCweb commented on #90
@darrenjacoby That's great that you got the code working. I have the lozad minified file loading in my Wordpress theme. I am running functions in another file. Do I add this to the main Lozad file and where, replace the whole thing? Can you share your complete modified version as a JS file?

[2018-11-12 22:25] ohlr opened #146 "img alt tag displayed when js not available"
Hi,

given this implementation:

[code]

when the visitor has js disabled, I see the alt element from the lozad image appearing above the noscript image. Is there any way to avoid this?

[2018-11-13 08:16] Jab2870 commented on #146
You could add the alt attribute with js? If you change `alt="myimage"` to `data-alt="my-image"` you could add the following when you start lozad:

[code]

[2018-11-13 08:44] ohlr commented on #146
Thanks!

[2018-11-13 08:44] #146 closed

[2018-11-14 14:30] rezelute commented on #117
I was just wondering if this has been implemented yet? If not, is the best workaround for now:
Load the image via:
`var tester=new Image();
tester.onerror=imageNotFound;`
and in the imageNotFound() function, give the data-src a different path to the file we know failed? Seems abit silly as we may end up loading the image twice.

Thanks.

[2018-11-18 12:12] ohlr commented on #146
Remark: Although the answer from @Jab2870 does the job, I think from a SEO perspective it's not optimal. At least Lighthouse complains about missing alt tags.
I believe a solution like this [lazysizes](https://github.com/aFarkas/lazysizes#the-noscript-pattern) is better from SEO perspective

[2018-11-23 02:44] huan0118 opened #148 "Won't duplicate dom generated by duplicate data be observed"
I used scroll event ajax to load the same batch of data into the page, and the page also loads the same batch of data, but after observing the first batch of data, the subsequent data will not be observed and the data-src attribute has not been replaced with the actual SRC

[2018-11-26 08:31] daizch commented on #16
@ApoorvSaxena Your demo is till not working in Safari(12.0) on Mac.

[2018-11-26 08:43] ApoorvSaxena commented on #16
![screenshot 2018-11-25 at 1 38 39 pm](https://user-images.githubusercontent.com/307583/49002348-58f20300-f185-11e8-92bf-5a7216a14955.png)

I tested in Safari Version 12.0 (14606.1.36.1.9) and it's working perfectly fine for me. Please share more details about the exact error in a new issue, as it may be unrelated to this issue.

[2018-11-27 15:41] lchinke commented on #144
I agree with you that this implementation is very confused.

Other lazyloading plugins solved this in such better ways. Would be very satisfying to solve this.

[2018-11-27 20:58] weilinzung opened #149 "Could I do before & after background images?"
Hi, if I have an image as background and also in the pseudo setup, how I can use this lozad? or I can't?
Thanks!

Example:
[code]

[2018-11-27 21:15] OverQuintero opened #150 "How to use Lozad with WEBP images?"
Hi, is there any way to use Lozad.js detecting browser support for WEBP images? including css Backgrounds

Thanks Bro!

[2018-12-03 15:12] Levdbas commented on #149
Nope, this isn't possible, also due to restrictions in css pseudo elements. See https://stackoverflow.com/questions/14141374/using-css-before-and-after-pseudo-elements-with-inline-css/20288572 for a similar question.

But can't you make a child element within .header positioned absolute and use `class="lozad" data-background-image="image.png"` on that? That would be a perfect workaround in my opin

[2018-12-03 20:04] weilinzung commented on #149
@Levdbas could be, but I have colour overlay of the image and then I don't have to use PhotoShop to add the overlay on the image for every time . So that is why I ask.

[2018-12-11 12:20] virginiarcruz opened #151 "data-srcset - responsive image doesn't work"
I need to change the images per each breakpoint.
For example, for
max-width: 767px: image-mobile.jpg
max-width: 1024px: image-desktop.jpg

I'm trying this way, but doesn't work for me:

[code]
Should I, add another config to work?

[2018-12-12 08:43] TokyoWeb commented on #134
Hi!  Thank you ApoorvSaxena so much to point my mistake. Luckily then the code for my images is fine, the mistake was with the load code.

If someone has same issue, just do as usual the data-srcset as well as the js code. I left here an example working perfectly fine. [https://codepen.io/tokyoweb/pen/qLdgMJ ](url)  Just reload the page / browser window at less than 450px, then 620px and over 750p

[2018-12-12 08:50] TokyoWeb commented on #151
I had the same issue understanding or making work the data-srcset.

See my issue https://github.com/ApoorvSaxena/lozad.js/issues/134 then code working fine.

[2018-12-26 16:24] BeholdPL opened #153 "Lozad for Google Maps?"
Hi!

Is there any possibility to use lozad with Google Maps? Im looking a lazy load solution for ACF Google Maps and WP Google Maps Pro plugin on Wordpress.

[2018-12-30 18:44] netok421 commented on #144
Agreed. Especially the fact that you can't add <img>, making it unable to have css classes. And also it loses backward compatibility with older browsers because the <img> added by the library doesnt have src attribute.

@ApoorvSaxena

[2018-12-31 20:43] stammy opened #154 "Feature request: Load images when X pixels away from viewport"
While the triggerLoad functionality immediately loads certain assets, it would be nice to have the ability to load images that are almost in the viewport, specifiable by pixels near the viewport. For example 500.

The idea here is to prevent the visible loading/flickering of assets loading once they are in the viewport, especially on sites with lots of photos where the user may be scrolling at a f

[2019-01-02 09:38] ApoorvSaxena commented on #154
@stammy this functionality is available in Lozad using `rootMargin` attribute, as specified in the [usage](https://github.com/ApoorvSaxena/lozad.js#usage), here's a detailed [explanation](https://developer.mozilla.org/en-US/docs/Web/API/IntersectionObserver/rootMargin) of the rootMargin attribute as per IntersectionObserver specs.

Example from the documentation:
[code]

[2019-01-02 13:30] ApoorvSaxena commented on #153
@BeholdPL I haven't explored working of any of the plugins before that you've mentioned, thus can't say much. Check with their authors about how their plugins can be lazy loaded.

[2019-01-02 17:53] stammy commented on #154
Ohh, that makes much more sense now. Thanks so much for the clarification! I just added lozad and a few other things to my site and photoblog over the holidays and it's working great. For example:   https://paulstamatiou.com/photos/africa/southern-serengeti-tanzania/

[2019-01-04 05:52] #154 closed

[2019-01-04 12:58] ApoorvSaxena commented on #148
@huan0118 possible to share a Codepen implementation of the issue?

[2019-01-09 04:20] BeholdPL opened #155 "Pictures don't show up until hover them in Chrome and Opera browsers."
In Chrome and Opera some images are visible only when I hover them. Other pics also with lozad.js are displaying without issues. I use lozad on several sites and this is first issue like that.

This is my site: https://israelitacticalkravmaga.com/

Can anyone look at this and help? Thanks!

[2019-01-10 02:18] huan0118 commented on #148
Sorry, I think it's caused by other plug-ins.

[2019-01-10 07:31] #148 closed

[2019-01-10 09:31] akkis commented on #132
You can use this one: https://github.com/aderaaij/wp-image-preload
Personally, I use this with an additional filter (made by me) so I can lazy-load every image I want, and not only these images that lay inside main content.

[2019-01-20 21:12] sheriffderek commented on #154
Just tacking onto this / (since I wrote out a whole thing before finding this question already mentioned)

Questions regarding rootMargin and threshold. Can an offset be set? Say, 2 screens height = load? I'd love to load the images _before_ they are visible.I would expect there to be an offset based on scroll position or something along those lines that is relative to the window.

<img width="741

[2019-01-22 17:50] maykelesser opened #156 "Doesn't load after dynamically inserted images"
Some browsers (including Safari for iOS) doesn't recognize WebP image format. So, i want to use Modernizr lib to detect if i will deliver PNG/JPG or WebP.

The code to insert the new data-src works, but i want to use it with LOZAD, but, it doesn't load that images dynamically inserted.

[code]

Tested on:
Chrome, Safari for osx 12.0.02, Opera, Safari for iOS

![testing](https://user-images.githubu

[2019-01-30 18:44] ApoorvSaxena commented on #110
our discussed approach got exactly implemented recently by a [GoogleChromeLabs project](https://github.com/GoogleChromeLabs/quicklink#how-it-works), where they:
- **Waits until the browser is idle** (using [requestIdleCallback](https://developer.mozilla.org/en-US/docs/Web/API/Window/requestIdleCallback))
- **Checks if the user isn't on a slow connection** (using navigator.connection.effectiveType)

[2019-01-31 07:11] ApoorvSaxena commented on #127
this has been fixed in `v1.8.0`, thanks to @Levdbas

[2019-01-31 11:08] nichalko opened #157 "Validation W3C"
## Expected Behavior
Running validator https://validator.w3.org on basic `<picture>` elements as per setup config should not result in errors.

## Current Behavior
Currently when running validator on:

[code]

Validator will give error:
`Element img is missing required attribute src.`

## Possible Solution
Setting up `<nosript>` tag with `<img src=(...)>` results in
`Element noscript not allowed a

[2019-02-01 08:05] #127 closed

[2019-02-05 15:32] joepagan commented on #157
This should be in the docs imo as people will not realise it's w3c valid (obviously should be checking anyway), but:

lozad.js will overwrite an existing src attribute, so, you can preset it with an inline data uri. As an example:

[code]

Would be helpful if a library of various inline data images like this existed.

[2019-02-06 00:33] BeholdPL commented on #132
Great! But it's works only for the_content, what with WYSWIG Editor from ACF plugin?

[2019-02-07 07:46] Levdbas commented on #132
As in the native WP gallery and not the ACF gallery? Check out this filter then! https://codex.wordpress.org/Plugin_API/Filter_Reference/post_gallery

[2019-02-07 14:15] BeholdPL commented on #132
@Levdbas but isn't that post_gallery works only with galleries in the_content? In my case is custom field via ACF. I need acts for WP Gallery inserted in ACF Wyswig Editor (not ACF Gallery).

[2019-02-11 15:30] UisgeBeatha436 opened #158 "Lazy load a script"
Not an issue, but a question.

On my site I have a script running to display a map with ship data. Loading this script requires a lot requests. It would be handy/efficient to only load it when it enters the viewport. The script is:
[code]

Is there a possibility to use Lozad to lazy load this script?

Thanks in advance!

[2019-02-13 10:40] justinasdmt commented on #49
Hey guys,
Any update on this? Does anyone have a solution to really check if the image is fully loaded?

[2019-02-19 08:04] UisgeBeatha436 commented on #158
Anyone willing to help?

[2019-02-21 21:20] chesio commented on #156
Hi @maykelesser,

I think if you are using default invocation, ie. just `lozad()`, you have to add class `lozad` to the images you want to lazy load.

[2019-02-21 21:28] chesio commented on #156
Just a blind guess: add the `lozad` class dynamically (= when you set `data-src` attribute).

Based from presence of `data-loaded` attribute, I guess that Lozad marks the image as loaded (even if there is no `src` and thus there's nothing to load) and does not load the image after you add `data-src` to it.

[2019-02-25 07:13] Baukaalm opened #160 "Lozad are not loaded all images"
<img width="470" alt="screen shot 2019-02-25 at 1 09 20 pm" src="https://user-images.githubusercontent.com/11878817/53320107-c9343000-38fe-11e9-88bb-23d4a3d3737f.png">

Recently lozad lib become incorrect work with images
upd this problem in chrome only (Safari stable)

[2019-02-25 11:57] staffe commented on #144
I also agree with @Jab2870's suggested solution. I ran into the same problems when I wanted to assign a class to the img tag which currently isn't possible

[2019-02-25 12:54] #160 closed

[2019-02-26 18:04] bitbruder commented on #144
As someone who is working with picture tags all the time, this implementation feels much better than the current one. Already using [the patch](https://patch-diff.githubusercontent.com/raw/ApoorvSaxena/lozad.js/pull/145.patch) on my end. Thumbs up @Jab2870.

[2019-02-26 23:38] BeholdPL opened #161 "How to adjust this script for background image lazy load?"
I have this little script:

[code]

What this script do is loading background-image from array for div class "l-header-image lozad" with each page reload. The array is ACF gallery field.

So I need adjust this script for lozad background-image option :) I was trying simply add "data-background-image" but then whole script crash.

Any ideas? :)

[2019-02-28 05:47] viveklambhi1 opened #162 "images not loading on rotating mobile device"
Your issue may already be reported!
Please search on the [issue track](../) before creating one.

## Expected Behavior

## Current Behavior
When i open website in potrait mode and rotate mobile then images are not appearing image area gets blank only alt text appearing.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.

## Context

## Tested on:

* Browser Name and version: Chrome(

[2019-02-28 14:32] rkumorek commented on #158
Don't know if you are using lozad on your site but I believe you could do something like this:
`
// mapContainer -> it's container in which you display a map with ship data
lozad(mapContainer, {
    load: function() {
        const script = document.createElement("script");
        script.src = "//www.myshiptracking.com/js/widgetApi.js";
        script.id = "myshiptrackingscript";
        script.a

[2019-02-28 21:42] UisgeBeatha436 commented on #158
Hi,

Thanks for your reply.

I indeed have Lozad running on my site (https://develop.uisge-beatha.eu <https://develop.uisge-beatha.eu/>). I’ll give your script a try. Would this script change when Lozad is in place?

BR

[2019-03-21 22:51] daniellzl commented on #134
@TokyoWeb

You need to add `el.srcset = el.dataset.srcset;` after `el.src = el.dataset.src;` in your custom load method for your fade effect to work with `srcset`.

Take a look at the original load method (https://github.com/ApoorvSaxena/lozad.js/blob/master/src/lozad.js) if you need to see how it handles all the different image attribute cases.

[2019-03-22 18:15] fintinc commented on #91
Hi
I'm having issues with the latest version of Chrome on OSX and Windows. Only about half of the images are loaded, many are not loaded at all.
Maybe it has something to do that the images are only visible on hover (css opacity).

The solution that works for me is to add a src attribute with a placeholder image:
`<img class="lozad" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAA

[2019-03-23 23:25] yxwu opened #163 "hidden images lazy loading"
If a image is hidden when lozad oberves, seems this image won't get lazy loaded.

I raise this issue because the hidden image may show up later, for example, in a typical tab implementation.

Below is two images, we can see the hidden one won't be loaded by lozad.

Any idea how to load the hidden one?

[code]

[2019-03-24 06:14] yxwu commented on #163
I see the reason. Because of the hidden status, so interaction never happens, so never load it.

Please close the issue. thanks.

[2019-03-24 06:14] #163 closed

[2019-04-03 08:04] meotimdihia commented on #55
Can't get `rootMargin` option work with the @PezCoder example.

[2019-04-17 13:51] SEIjaz commented on #117
Can any body let me know fallback is implemented in library or not?

[2019-04-17 16:11] BeholdPL opened #164 "Lozad.js in child theme in Wordpress"
//

Please delete this post :)

[2019-04-20 04:58] #164 closed

[2019-04-29 14:50] joepagan commented on #157
Turns out you can get w3c errors still if you use the `data-srcset` attribute and an accompanying `sizes` attribute... sigh

[2019-04-29 14:54] Jab2870 commented on #157
This is something else that #144 would fix I believe

[2019-04-29 15:14] joepagan commented on #157
Hah, just fixed with:

[code]
Should be built in though, if you can do the same with `data-srcset`

[2019-05-04 20:27] englishextra commented on #156
@maykelesser As @chesio said above - in my experience that's a common problem especially for SPA-like webapps.

[2019-05-07 17:59] timocouckuyt commented on #78
What @jimblue mentions is true, the lozad library isn't preloading images, only settings attributes and acting accordingly. For example, loaded classes are set even when the image itself isn't loaded at all, yet. Preloading the src makes sense, really.

[2019-05-14 10:00] TomS- commented on #144
I'm having an issue where it's saying it's loading but is in fact only entering an empty <img> tag. But that fact that you can't have CSS on the image tag is enough of a reason for me to switch.

[2019-05-16 14:28] sephore opened #165 "How to deal with Reader View?"
I'm interested in making all my sites work in Reader View, but I can't find any mention of lozad.js + "Reader View" for reference.

What I know so far:

- Images already loaded will stay loaded if you enter Reader View;
- If you refresh the page while in Reader View they will unload;
- `<noscript>` seems to be ignored by Reader View.

Using Firefox 67.0b12 (64-bit) at the moment.

[2019-05-16 15:17] forepointmc commented on #49
Just have to say that I don't recommend this library to anyone. It sucks ass. I used it on two projects after reading the CSS Tricks article about it, and I've had nothing but issues with it. It doesn't check to see if an image has loaded, data-loaded=true is always present on the element. Images sometimes never load, or half load. The fact that this core issue is still unresolved after so long sa

[2019-05-17 00:25] jimblue commented on #49
@forepointmc totally agree, worst open source project ever for the number of stars...

[2019-05-17 04:54] UisgeBeatha436 commented on #49
Any suggestions as an alternative for loading images and iframes?

[2019-05-17 15:21] forepointmc commented on #49
Angular 7 uses observers in rxjs and its pretty solid. I think frameworks are the best solution right now

[2019-05-17 15:52] jimblue commented on #49
https://github.com/malchata/yall.js

[2019-06-15 05:56] jariesdev commented on #117
Just a workaround:
`var observer = lozad('.lozad', {
				loaded: function(el) {
					el.classList.add('loaded');
					try {
						var img = new Image();
						img.src = el.getAttribute('data-src');
						img.addEventListener('error', function(e){
							el.classList.add('error');
						}, false);
					}catch(e){
						console.log(e);
					}
				}
			});
			observer.observe();`

[2019-06-16 10:50] BeholdPL opened #172 "Images disappear until the browser window size changes."
Images disappear until the browser window size changes.

See the video below:
https://www.dropbox.com/s/4w6cuq4xvdwriz2/lozad.mov?dl=0

right now my site is on my local, in afternoon I move it to server, but until that - how could I fix it? Console is clear.

[2019-06-18 12:33] alamowo commented on #172
This seems to have changed in Chrome v74/75. Not sure yet. Since that it's not working anymore.

[2019-06-20 13:04] justinasdmt commented on #172
Hey,
I have the same problem. Chrome v75 doesn't load some images. Does anyone have a solution?

[2019-06-20 14:06] justinasdmt commented on #172
I noticed that in my case images were not loading if their parent or grandparent element was set to overflow: hidden. I deleted this CSS property and lazy-loading works again.

[2019-06-21 07:16] alamowo commented on #172
@justinasdmt this is working for me, too. The Issue seems to be related to the IntersectionObserver. It doesn't recognize elements that do not have any dimensions: 0px x 0px. For me adding a min-width or min-height of 1px did the trick.

[2019-06-25 09:35] WalterMccan opened #175 "Support for video tag thumbnail."
Hello,

I stumbled upon a small issue while trying to lazy load the video thumbnail.

The video tag uses the `poster` argument for thumbnail. It looks as follows:

[code]

## Expected Behavior
It would be useful to have the ability to lazy load this argument but I do understand that one of the goals of this project is to provide the smallest in size solution.

Perhaps you would like to create a br

[2019-06-26 18:51] zocoi opened #176 "Not working erratically without DOMContentLoaded"
We have the following code placement in the bottom of our website

[code]

And it seems to work fine for me but some of our users reported the images are not loading at all and I couldn't produce it locally. I noticed those users may have older machines but I'm not sure if it's a factor

We then try wrap the code with `DOMContentLoaded` event and it seems to work

[code]

here's the example of the

[2019-07-03 07:17] coder-pm commented on #176
I had the same issue, adding min-width (already had min-height) solved it. Seems like related to: https://www.chromestatus.com/feature/5878481493688320

[2019-07-05 09:38] andrewcourtney opened #177 "data-background-image not loading?"
Hi there,

## Expected Behavior
I'm having problems getting a use-case of the data-background-image to work successfully. I've got an inline image to load and fade in when it appears within the viewport but the data-background-image is loading but then not appearing? I would like the background-image to lazy load and fade-in once it is  within the viewport.

## Current Behavior
I have applied the

[2019-07-05 20:10] BeholdPL commented on #172
Yes. The problem is overflow: hidden on parent or grandparent element, like @justinasdmt wrote. @ApoorvSaxena is this lozad.js bug, or IntersectionObserver? :)

[2019-07-07 10:38] BeholdPL commented on #172
@ApoorvSaxena do ho have any idea how to fix that issue? I really like your lozad, I would like to not change it to other...

[2019-07-07 14:30] cooperlovano opened #178 "Lozad with varied-size images in multiple columns (masonry)"
I am trying to use Lozad for a very image-heavy art portfolio - https://www.cooperlovano.design/new-bianca/ -  where the client wants a masonry grid (2-3 columns depending on browser size). The when the images load they push each other down and the formatting shifts until all the images in the constraining divs are loaded, and I gather that the solution is to hard code the placeholder sizes before

[2019-07-07 16:37] UisgeBeatha436 commented on #178
What about using flexbox? Tried to load the on my mobile, but that was a no-go. Too heavy to load.

[2019-07-07 22:06] cooperlovano commented on #178
@UisgeBeatha436 thanks for your response~

I haven't looked too far into flex because having the masonry effect to work vertically (with variable heights) seemed like it would get tricky..  To avoid this behavior:

![Screen Shot 2019-07-07 at 5 36 25 PM](https://user-images.githubusercontent.com/29786910/60774144-ed3e2400-a0dd-11e9-8c41-0afd5d726be7.png)

I'd have to set a hard coded container hei

[2019-07-08 06:49] UisgeBeatha436 commented on #178
Hi,
Have a look at my gallery, based on Mansory lay-out. Framework is MDBootstrap Jquery. Hope this helps.
https://www.uisge-beatha.eu/fotos-en-videos-rondom-uisge-beatha/fotoalbums

[2019-07-16 18:29] jimblue commented on #49
https://github.com/verlok/lazyload

[2019-07-16 18:30] jimblue commented on #49
https://github.com/aFarkas/lazysizes

[2019-07-16 18:30] jimblue commented on #49
many options !

[2019-07-17 02:01] rgfx commented on #94
@0gust1 @ApoorvSaxena Forgot to reply, surprised no one has had this issue after me.  Loaded up this project with a newer gulp build still have this issue.

https://codepen.io/rgfx/pen/eMREGE

[2019-07-18 10:14] antony opened #180 "Browser field should not point to minified build"
## Expected Behavior
Lozad's browser field in `package.json` should point to the ES build, as this field is used for bundlers which will then do their own transpilation, tree-shaking, and minification. Pointing at the minified/transpiled build causes this not to happen and results in larger bundle sizes and inability to debug.

## Current Behavior
Currently `browser` points at the minified build.

[2019-07-18 19:45] rpavantica commented on #94
I get "exports is not defined" even without babel.

https://codepen.io/rpavantica/pen/WVNBJy

[2019-07-21 19:16] alaahariri opened #181 "Issue with Lozad for Lazy Loading images on new Chrome 75"
I have been facing an issue since upgraded to Chrome V75. The bug should be related to the Intersection Observer. I have reported this to Google since the very first day of the new Chrome release. My particular case is as the following:

1- I am using Lozad library for lazy loading images. This library utilizes intersection observer api.
2- I have my website in two languages. The English version i

[2019-07-22 11:53] valentinpigeau opened #182 "Issue with Safari (12.0.3) img don't load with picture tag"
Hi, i have an issue again with Safari with lozad, Img tag in picture don't load on safari 12.1.1 :)

## Expected Behavior

img tag in picture load.

## Current Behavior

Img tag in picture don't load on safari 12.1.1 and 12.0.3.

IntersectionObserver is imported with https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver

## Possible Solution

Maybe a bug with webp or safari don't lo

[2019-08-08 20:42] citricacid-pl commented on #181
Unfortunately this issue is also appearing in Chrome 76 on Mac

[2019-08-10 17:46] ZCweb opened #183 "Lozad not working if images have alt="" in Chrome 76"
For some accessibility situations I am having empty alt text with images. I noticed in Chrome - using version 76 - that the images will not load if the alt is null. As soon as I add alt text it works fine.

This problem is not in Firefox or Safari.

[2019-08-11 20:29] citricacid-pl commented on #177
I had similar issue and while debugging JS I found out that the image string is coming with line feed character at the end resulting in no setting the background. I have my image path generated with blade template so I have provided a `trim` directive to have the proper result.

Summarizing: trimming image path for background did the trick.

[2019-08-12 06:11] minaminfo opened #184 "Should I use W3C polyfill for IntersectionObserver API?"
Hi Saxena!
What's your views about using polyfill for IntersectionObserver API? Sure IntersectionObserver is not supported by old browsers. I found W3C polyfill but I'm afraid if it'll work with lozad as expected.
Need your suggestions!
Will this work fine with lozad or some special tweaking required?

[2019-08-13 09:53] gchtr commented on #157
@joepagan This probably fixes the issue with W3C validator. But in a quick test, only Chrome and Firefox downloaded the correct sizes for images. Other browsers like IE and Safari were ignoring the sizes attribute when it’s updated in the `loaded` callback. I assume that the `sizes` attributes would have to be updated before the `srcset` attribute is updated.

[2019-08-14 09:53] joepagan commented on #157
Well, what I suggested is just a temp work around, I think lozad should deal with this really.

Maybe a more suitable fix is to leave the sizes attribute on the element

[2019-08-20 10:51] haralake opened #187 "Images were all overlapping"
I have a problem, combining shuffle.js (alternative to isotope) with Lazy Load in a responsive layout. Shuffle determines the layout based upon the width and height of the images when the page is loaded, so initially, the items were all overlapping because shuffle wasn't calculating the correct size. Is there a solution to this problem?

[2019-08-21 16:02] inglesuniversal opened #188 "how to add a fadeIn effect as images load inside loaded window?"
Hello:

Great script!

I would like to know if there is a way to add a fadeIn effect as images are loaded on the current screen, to avoid the empty box fill in effect which looks kinda old school websites.

Best regards

[2019-08-26 08:24] ALPIXELMaiki commented on #188
Hi !
You can do it with CSS, by binding the "data-loaded" attribute.

Here my code, it works like a charm :
`/* *****
    @name: showLazyImg
    @description: Animate img and backstretch when elements are loaded with lozad
***** */
img[data-loaded="true"],
[data-loaded="true"] img {
  animation-name: showLazyImg;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
@keyframes showLazyImg {

[2019-08-26 18:56] fatihbatal opened #190 "Feature Request: Multiple Background Images"
With a small change, Lozad would support multiple background images as
[code]

Here's my suggestion:
[code]
on line 54 of main file (lozad.js) instead of
[code]

Then the initialization would be as:
[code]

Needless to say, this change is also backward compatible.

What do you think?

[2019-08-30 07:00] aleehedl commented on #183
I have this problem as well.

[2019-09-03 09:37] Gouigouix commented on #172
There is always the problem with Chrome:
- Version 76.0.3809.132 (Official Build) (64-bit)
- Version 78.0.3901.0 (Official Build) canary (64-bit)

A solution ?

[2019-09-03 16:06] ZCweb commented on #183
Is anybody not having this problem? on the most popular browser on the internet? If you hover over the image it finally shows. Can someone please help I imagine this is a popular problem. I am willing to pay whomever whatever but this forum seems like the best place to resolve the issue.

[2019-09-05 13:21] BeholdPL commented on #172
Did you find any way to fix that maybe?

[2019-09-09 08:55] berkayturanci commented on #156
I had the same problem,

Resolved with adding this line;

`$(imageId).attr("data-loaded" , "false");`

 just before making `observer.observe()`

[2019-09-19 13:38] komidesign commented on #132
It works fine but the only issue is that that images are already loaded, so after scrolling down they will be loaded twice . My code:
/**
 * adds lazyload attribute to all image loaded inside the_content()
 *
 * @param [type] $content
 * @return void
 */
add_filter('the_content', 'baseplate_lazyload_content_images', 11);
function baseplate_lazyload_content_images($content){

   if(is_single()) {//

[2019-09-25 16:22] ApoorvSaxena commented on #190
@fatihbatal I'll be glad if you can open a PR for your change, code looks fine.

[2019-09-25 16:34] ApoorvSaxena commented on #183
@ZCweb @aleehedl could you please share a Codepen implementation, am unable to replicate the issue as displayed in the screenshot below while using Chrome v77

![alt-null-tag](https://user-images.githubusercontent.com/307583/65620882-48e2c400-dfe0-11e9-8c26-8673a6540112.png)

[2019-09-25 17:57] fatihbatal commented on #190
I opened a pull request just now.
This is the very first action of me on GitHub, btw.
So, I had to follow some tutorials and StackOverflow threads to keep up.
Hopefully, I didn't do anything wrong (fingers crossed).

[2019-09-29 14:44] ApoorvSaxena commented on #190
thanks for your contributions @fatihbatal 💯

[2019-10-05 17:27] ApoorvSaxena commented on #183
Unable to re-create, thus closing this issue

[2019-10-05 17:27] #183 closed

[2019-10-05 17:29] #155 closed

[2019-10-05 17:29] #149 closed

[2019-10-05 17:30] #153 closed

[2019-10-05 17:34] #177 closed

[2019-10-05 17:36] ApoorvSaxena commented on #187
@haralake found any solution?

[2019-10-08 18:00] fredbouin opened #198 "broken links before loading image"
When scrolling my page  and upon initial page load all the images which are lazy loaded flash a broken link thumbnail for a second before fully loading. I'm looking at some of examples online and none of them seem to behave that way on my browser. I'm using chrome version 77 and I'm currently running a local version of my site via mamp, don't know if that could have anything to do with it.

[2019-10-08 18:57] fredbouin commented on #198
So i found that part of the problem was that I had an alt tag, I removed it but now instead I'm getting a 1px grey border around where image should be before its loaded.

[2019-10-10 19:37] andredalmolin commented on #181
Here too, not working on Chrome :(...

[2019-10-16 15:49] ApoorvSaxena opened #200 "Fix failing build"

[2019-10-16 15:51] #190 closed

[2019-10-16 15:54] #151 closed

[2019-10-16 16:02] #102 closed

[2019-10-16 16:03] #178 closed

[2019-10-16 16:30] msorce commented on #200
@ApoorvSaxena I can't seem to reproduce a failure, running the scripts in package.json

[2019-10-16 17:50] cos1715 commented on #200
I'll look

[2019-10-16 18:50] jimblue commented on #102
NICE open source project!
A changelog, what's the point, so simplier to close an issue! 🎉

[2019-10-17 02:34] osmarpetry commented on #200
Is done there: https://github.com/ApoorvSaxena/lozad.js/pull/201

[2019-10-17 07:57] Cedric-ruiu opened #202 "Publish version npm"
Hello,

Can you publish the last version on npm ? It's still the 1.9.0 instead of 1.11.0
https://www.npmjs.com/package/lozad

Thx

Cédric R.

[2019-10-18 07:44] Cedric-ruiu commented on #188
`data-loaded` wouldn't mean that your images are fully loaded, so your animation start before & potentially end before the images fully loaded. To enhance this behavior I extend JS & add another attribut `data-fully-loaded`.

[code]

Just rename attribut from @ALPIXELMaiki

[code]

This tricks works properly but only for `<img>` present on the initial load. It need another treatment to add this be

[2019-10-18 12:30] Cedric-ruiu commented on #188
Just an update for CSS fadeIn. Add a class `.no-fade` to disable fade on `<img>` inserted after initial load. This update prevent blinking when images appear. And it works well with `iframes`.

[code]

[2019-10-19 07:52] ApoorvSaxena commented on #202
Published [1.14.0](https://www.npmjs.com/package/lozad)

[2019-10-19 07:52] #202 closed

[2019-10-19 08:51] Ishaan28malik commented on #200
@ApoorvSaxena is it still open ?

[2019-10-21 02:08] osmarpetry commented on #200
@Ishaan28malik I'm trying to solve there: https://github.com/ApoorvSaxena/lozad.js/pull/201#issuecomment-543617745

If you would like to help us, fell open to doing it

[2019-10-21 09:44] pascalschoeni commented on #181
chrome 77 as well

[2019-10-22 06:18] visibleajay commented on #180
Any hints on testing the working of this code.
[code]

[2019-10-22 09:50] Cedric-ruiu commented on #188
And for those who need to customize JS side, I had started this an es6 class to add a fadeIn option.

[code]

[2019-10-22 11:29] webdevhobby opened #204 "Not working in IE 11"
Our sites images using lozad don't load in IE 11. I think it works before but not anymore. I checked the demo site, https://apoorv.pro/lozad.js/demo/ and confirmed that it is really not working now.

[2019-10-25 18:55] gardavis commented on #204
Error in JavaScript console: Object doesn't support property or method 'assign'

e = Object.assign({}, c, t)

[2019-10-28 10:18] #188 closed

[2019-10-28 14:42] razi-ed commented on #204
can i please work on this?

[2019-10-28 14:56] razi-ed opened #205 "IntersectionObserver Polyfill serving will fail. RawGit is sunsetting"
## Current Behavior
in /demo/index.html IntersectionObserver Polyfill is being server via RawGit which is sunsetting at end of October 2019. [RawGit](https://rawgit.com)

## Possible Solution
serve IntersectionObserver Polyfill via jsDelivr

[2019-10-28 15:24] razi-ed commented on #205
can i please work on this?

[2019-10-29 16:57] Gouigouix opened #209 "Update Changelog!"
Hello,

**Update the changelog**, the last event is `v1.4.0 (April 22nd 2018)` https://github.com/ApoorvSaxena/lozad.js/wiki/Changelog

Thx

[2019-10-30 17:32] ApoorvSaxena commented on #204
fixed by https://github.com/ApoorvSaxena/lozad.js/pull/207, README and Demo page has been updated

[2019-10-30 18:40] #175 closed

[2019-10-30 19:09] ApoorvSaxena commented on #204
@webdevhobby @gardavis can you please help in verifying the same in IE browser?

[2019-10-30 19:20] gardavis commented on #204
Adding the polyfills for Object.assign and IntersectionObserver do get Lozad to work fine in IE11.

  *   The Object.assign polyfill fixes the Javascript error about the assign() function undefined.

  *   The IntersectionObserver polyfill allows images to display and the observer “load” function to be called during page scrolling.

Thanks,
Gary Davis

From: Apoorv Saxena <notifications@github.com

[2019-10-31 13:35] #204 closed

[2019-11-01 01:11] eNkru opened #213 "The latest relase 1.14.0 breaks JS load in IE11"
we are using the jsdelivr CDN link and the latest 1.14.0 release break our JS load on IE 11.

The error message

All or JS followed by Lozad is not loaded and end up with a broken website.

After we switch back to 1.9.0, all loaded.

[2019-11-01 09:38] ApoorvSaxena commented on #213
This information has been provided here #204

[2019-11-06 11:49] yxwu opened #214 "Is it better to add observer.disconnect() ?"
As stated in https://developer.mozilla.org/en-US/docs/Web/API/IntersectionObserver/disconnect, seems it could be better to do observer.disconnect().

So is it ok to add this feature to lozad.js, such as
[code]
Thanks

[2019-11-06 12:15] ApoorvSaxena commented on #214
@yxwu a better implementation will be to return the intersectionObserver instance, so that any such new function will be available to use instead of whitelisting it up in the library, one after the other.

[2019-11-06 12:15] #213 closed

[2019-11-06 17:33] yxwu commented on #214
I noticed the observer instance is already there in the returned obj.
You can close this issue, Thanks.

[2019-11-07 01:54] #214 closed

[2019-11-18 20:11] Strongground commented on #184
@minaminfo There is a polyfill that W3C recommends using. It is this one: https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver
It is also mentioned here by @ApoorvSaxena to be used.

There isn't a "special polyfill" just for this single lazy loading library. Polyfills just modify the prototype of the object they are supporting, just implement the polyfill and lazyloading and you wi

[2019-11-25 10:32] jprats89 opened #215 "Picture tag not working in IE11"
Picture tags are not working in IE11.

## Steps to Reproduce
If you go to demo site https://apoorv.pro/lozad.js/demo/ and scroll to the picture tag example you will see the next error by IE console:
`SCRIPT438: Object doesn't support property or method 'append'`
`File: lozad.min.js, Line: 9, Column: 323`

## Possible Solution
I solved with the this pollyfill, but there may be better solutions
http

[2019-11-30 18:24] gacallea opened #216 "lozad breaks (webpack) responsive-loader"
I'm giving lozad a try after reading your featured CSS Tricks article, and I love it. There's only one issue: it breaks responsive-loader generation of any jpg specified in an HTML file (I'm doing responsive images with data-srcset and data-src as per documentation). CSS background jpg are fine.

## Expected Behavior
- without lozad everything works fine and responsive-loader creates the responsiv

[2019-11-30 18:29] gacallea commented on #216
ps: the lazy loading works fine and all. it's just that it breaks jpgs. you could try using responsive loader with lozard to reproduce if checking against my repo is not an option.

[2019-12-01 11:35] gacallea commented on #216
hi,

I've just tried to implement lazy loading using IntersectionObserver directly and it also breaks the images. This time it breaks all of them (all 404) but it doesn't use responsive images at all (just the link to the originals). I hope this details can help somehow.

[2019-12-02 08:43] falconien opened #217 "Not working on IE11 (solution founded)"
## Expected Behavior
IE11 don't support method "assign".
Elements (videos, pictures) are not displayed.

## Possible Solution
l.117 function lozad()

replace
[code]

by
[code]

[2019-12-02 09:09] gacallea commented on #216
Since I don't know where the issue lies, I've opened an issue on responsive loader github as well: https://github.com/herrstucki/responsive-loader/issues/98

[2019-12-10 14:04] ApoorvSaxena commented on #217
https://github.com/ApoorvSaxena/lozad.js/issues/204#issuecomment-548024590

[2019-12-10 14:04] #217 closed

[2019-12-10 14:07] ApoorvSaxena commented on #215
Will be glad to merge PR with polyfill recommendation in README

[2019-12-12 16:33] brunocloutier opened #220 "Images not loading (data-loaded tag is injected, but no src tag)"
I have installed lozad.js, but no images are loaded. lozad.js has been installed through npm.

Here’s the JS code.

[code]

And the HTML markup.

`<img class="lozad" data-src="/static/dist/images/sequence/image-name-22-bb30333568bbc78444cd9201fe181af9.jpg">`

lozad.js is triggered. I get console logs with the right elements, and `data-loaded="true"` is injected in the appropriate `<img>` tag. But

[2019-12-13 07:56] dipesh112 commented on #220
const observer = lozad('.lozad', {
  load: function(el) {
      el.src = el.getAttribute("data-src");
  },
});
observer.observe();

Try this.. it will work

[2019-12-18 15:29] Cadienvan commented on #220
Sorry @dipesh112 , what is the point in doing that for ourselves? Lozad should do exactly THAT for us.

[2019-12-22 20:43] sirbene opened #222 "First image won't load"
edit: closed

[2019-12-28 12:52] benjamingries commented on #204
What is the best way to handle this via webpack and ES6 syntax? Corejs didn't transform the object assign statement in my javascripts ...

[2019-12-31 21:31] hn1 commented on #204
"Adding the polyfills for Object.assign and IntersectionObserver do get Lozad to work fine in IE11."
Unfortunately it does not. Its all over the place - No Polyfill will make this work!
Any ideas. It used to work perfectly upt o version 1.7 - What happened!
Sometimes progress is no good!

[2020-01-02 08:09] benjamingries commented on #204
I need some time to get this, but these polyfills doesn't polyfill the append function ( it's documentated here: #221 )

[2020-01-07 14:10] gacallea opened #224 "Q: is lozad using .observe() obsolete feature?"
Hi, I've looked at the source and could not find .observe() defined. I may have missed it tho.

However I would ask: is lozad using this? https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/observe or just a same name internal function?

Please and thank you

[2020-01-07 15:21] damac23 commented on #224
As stated in den README it uses the IntersectionObserver(): https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API

[2020-01-15 21:20] blainemuri commented on #55
It would be nice to reopen this discussion with an example of how to do this without `componentDidMount` so that it can work with the new react-hooks paradigm.

[2020-01-25 13:12] #224 closed

[2020-01-27 09:06] TheBoringBOT opened #226 "Ajax Help"
When I go back to a page that has already lazy loaded images, the images will seem to have a quick flash as if there is a fast o>1 opacity.

Is there a way to use the lozad function once then remove it?
Or
Someway to remove that 'flash'?

Just reiterate this is to do with ajax loading/reloading

[2020-01-30 22:38] strarsis opened #227 "Multires video?"
Can Lozad.js also handle multiresolution video?
In the samples in documentation it switches between multiple video formats.
Is it also possible to provide video files of different resolutions for a video background?

[2020-01-31 23:12] man-oi commented on #172
same here. but _some_ images were loaded.
I was able to fix the error by reacting to the "loaded" event and checking which images are below or above the loaded image and then loading them manually.

this is only a quick fix and not perfect, but it works for now.

[code]

[2020-01-31 23:38] man-oi commented on #172
now discovered instead of the above event function, it also works with:

[code]

🙄

[2020-02-03 15:27] #222 closed

[2020-02-04 10:06] bogdankhomiak opened #228 "assign"

[2020-02-04 10:07] #228 closed

[2020-02-07 16:56] pmourer commented on #12
@ApoorvSaxena can you elaborate on how this was "fixed"? Or point to a PR? Or best practice around this? I am still seeing this issue (which makes sense as the image in question has no `src` attribute). I'm not sure I see a way around this.

[2020-02-07 17:01] pmourer commented on #12
Looking at the source for the demo, it looks like the solution employed is the following:
[code]

[2020-02-14 04:59] sean-clayton commented on #55
@blainemuri Here's a custom hook I made that should do the trick.

[code]

And here's a CodeSandbox demo: https://codesandbox.io/s/suspicious-wilson-dj2oq

[2020-02-18 14:34] monsieurPaon commented on #226
You can try something like that:

`
  $('body').on 'ajax:success', (event, data, status, xhr) ->
    lozad().observe();
`

[2020-02-21 19:00] haywirephoenix commented on #161
You need to change

element[0].style["background-image"] = "url("+ images[x] + ")";

to

element[0].setAttribute("data-background-image",  images[x]);

[2020-03-13 19:12] ad31mar opened #229 "Donating lozad.com"
Heya Apoorv, tried reaching you via email.

I'm a huge fan of lozad.js and have been using it on [Binned Art](https://binnedart.com) in it's full glory!

I have another side project called [Zlipa](https://zlipa.com) which does short dotcoms for makers and bootstrappers, and a couple of days ago `lozad.com` expired and I snatched it.

I would like to donate it to the lozad.js project 🙂

[2020-03-18 15:18] lonepalmus opened #230 "Data-poster not available when installing from npm"
## Expected Behavior
To lazyload the poster for a video with data-poster, like in the demo https://apoorv.pro/lozad.js/demo/

## Current Behavior
After installing from npm (v1.14.0) the data-poster is not swapped for poster.

## Possible Solution
Publish the latest changes to npm?

## Tested on:
* Chrome Version 80.0.3987.132
* MacOS Mojave 10.14.6

[2020-03-19 11:37] antony commented on #220
I think the first example is overriding the load function, with some console logging - but therefore removing lozad's functionality.

That's why it doesn't work (and that's why @dipesh112 has re-implemened it)

[2020-03-20 00:35] JorgeSivil commented on #181
Did you try removing the threshold (if you have a custom one)? I have a problem with certain images in a list (all images are equal type / properties), and some are failing. I discovered that if I set threshold to 0 (default), they all work.

[2020-03-20 00:49] JorgeSivil opened #231 "Certain images not loading when using threshold: 0.1 - Firefox"
## Expected Behavior
Load image

## Current Behavior
Certain images are not loading. I don't know yet what could be affecting it.

![image](https://user-images.githubusercontent.com/12187148/77127404-1237b480-6a2b-11ea-93ce-14c17a8f5b6a.png)

Figure not loading:
[code]

Figure loading:
[code]

## Possible Solution
Use threshold 0.0 (default)

## Context
Loading a list, each element with a "profile

[2020-03-20 12:42] joepagan opened #232 "Native lazy loading"
Hey, Thanks for your work.

I'm surprised by no reference to native loading in your package which was announced April 2019:
https://web.dev/native-lazy-loading/
https://twitter.com/addyosmani/status/1114777583302799360

## Expected Behavior

- Should be able to relatively easily implement native `loading="lazy"` attribute on all elements

## Current Behavior

- easy to implement on everything but

[2020-03-30 10:22] hinok commented on #215
@ApoorvSaxena I'm just curious, what was your motivation to change `.appendChild` to `.append`, just because it's newer API?

https://github.com/ApoorvSaxena/lozad.js/commit/3ae5f9b275db78aa0b264d85e9f14a45a5f7e7d8#diff-0fc67cf1417ed1d78c12555dd5590d00R22

[2020-04-07 17:42] reisi007 opened #233 "Export as named AMD module"
## Expected Behavior
When using AMD modules, lozad should be a named AMD module, as one has to interact with it

## Current Behavior

It is an anonymous AMD function

## Possible Solution

[code]
instead of

[code]

## Steps to Reproduce (for bugs)

## Context

I need to import loadz in another module to initialize it.

Quote from jQuery:

## Tested on:

Applies to all AMD environments

[2020-04-09 16:46] jesserosenfield commented on #129
Has this been incorporated into the main branch @ApoorvSaxena ? Thanks for the great plugin!

[2020-04-14 08:22] mrkpatchaa commented on #215
I've tried with #221  and it's working now. I've also added polyfill for PictureElement
https://polyfill.io/v3/polyfill.min.js?features=HTMLPictureElement%2CIntersectionObserver
"lozad": "ApoorvSaxena/lozad.js#pull/221/head"

[2020-04-17 12:08] jjmahi opened #234 "IE11 issue : image icons inside main navigation not loading."
Expected Behavior : images need to loaded on visible
Current Behavior : images not loading on visible
Possible Solution : if plugin behavior triggered on click event, the images could be visible
Steps to Reproduce (for bugs) :
1. click menu, list of items in the menu with image icons will be available
2. image icons are not loading
3. broken images are visible

Context : First of all thanks for th

[2020-04-21 11:30] jln-pl opened #235 "Extending `load` function instead of overriding"
## Expected Behavior
I would like to extend `load` function not to override it, e.g. add dispatching some event, add some logs etc.

## Current Behavior
I can provide my own `load` function which override the default one. So if I write something like this:

[code]

lazy loading will not work, because my function (with only `console.log`) will override the default one.

## Possible Solution
Export

[2020-05-01 03:02] aeu commented on #144
I like the implementation proposed by @Jab2870 as well, having the ability to attach to the img element for styling is very important.

[2020-05-11 14:54] fishtankmike commented on #198
I'm also getting the 1px grey border. I've tried a few things to get rid of it:

- forcing css to **border:none** - does nothing
- add a transparent border to .lozad image class - does nothing
- adding text to the alt tag - this then doesn't respect the width and height of the image and adds the broken image icon

any advise/thoughts on this?

[2020-05-12 10:21] rgllm opened #237 "The play() request was interrupted error"
## Expected Behavior
- No errors on the console.

## Current Behavior
- Lozad.js is trhowing a console error:

[code]

## Tested on:
* Browser Name and version: Google Chrome and Firefox Developer Edition (latest versions)
* Operating System and version (desktop or mobile): macOS Catalina

[2020-05-12 17:17] antony opened #238 "lozad assumes commas in background-image urls are different images"
## Expected Behavior
A mapbox static map url, for example, looks like this:

[code]
I would expect that url to be loaded as a background image, as it is a valid URL.

## Current Behavior
Currently, the url is split into multiple segments on `,` and turned into multiple url()s by lozad

## Possible Solution
A difficult one, since it is probably a breaking change. You could be clever with encoding U

[2020-05-13 08:08] archansel commented on #198
Add to your css file

[code]

[2020-05-13 08:52] fishtankmike commented on #198
This does indeed hide the image (and its border) and is the best answer I've found around this issue so thank you @archansel

I was using a loading gif as a background to load images to indicate their loading but I can work round this.

[2020-05-21 15:10] alex-bowers commented on #238
I'm having the same issue with Cloudinary links. This is an example from their company home page.

[code]

[2020-05-22 09:53] alex-bowers commented on #238
@antony Have you got any thoughts on https://github.com/ApoorvSaxena/lozad.js/pull/239? It's something I need to use. Hope it's useful for you.

[2020-05-22 16:35] rgllm commented on #237
@ApoorvSaxena any feedback on this?

[2020-05-23 01:02] ApoorvSaxena commented on #238
@alex-bowers thanks for your contribution, fix is merged in master 👍 💯

[2020-05-24 08:14] antony commented on #238
@alex-bowers I'm a bit late to the party, but I would have agreed! Glad to see this in master :)

[2020-05-24 08:14] #238 closed

[2020-06-11 02:45] inglesuniversal opened #240 "tried script with following code and images completely disappeared."
`

--> setup lozad.js

const observer = lozad(); // lazy loads elements with default selector as '.lozad'
observer.observe();

--> fetch json file with radio stations...

--> looped through every record which has the StationNameLogo.png for every radio station

    data.forEach(obj => {

        $('tbody').append("<tr id="+counter+"><td class=\"label-cell\"><button onclick=\"playStation("+counter+

[2020-06-23 18:36] abhinicky84 commented on #215
Hi @ApoorvSaxena : Could you please confirm about the solution of this issue on IE11 ? I still dont see it working on the demo site on IE. Please advise on how to make it work.

[2020-06-23 22:36] hinok commented on #215
@abhinicky84

You need to polyfill `Element.append` for older browsers

**polyfill-element-append.js**

[code]

[2020-07-02 07:17] igorkamyshev commented on #235
Hi!

Maybe for backward compatibility and better API, we can just add new `eventListener`? Something like `onBeforeLoad`?

[2020-07-04 13:51] #184 closed

[2020-07-04 13:52] #181 closed

[2020-07-04 13:54] #156 closed

[2020-07-04 14:22] ApoorvSaxena commented on #229
@ad31mar thanks for this, Lozad started off as side project (still is) and at present is hosted at https://apoorv.pro/ which seems fine. Thanks again, appreciate the great gesture 👍

[2020-07-04 14:22] #229 closed

[2020-07-04 15:33] ApoorvSaxena commented on #230
Available https://www.npmjs.com/package/lozad#example-with-video

[2020-07-04 15:33] #230 closed

[2020-07-05 21:28] bsteephenson opened #242 "Safari polyfill bug causing lozad to load images outside the viewport"
Ran into a fun bug affecting Safari 11.1.1 and Safari on my iOS 11.4.1 phone. Lozad would load all images on page load, even images that are not in the viewport. I demonstrated this by logging the links that lozad was loading.

The root cause is described in https://github.com/w3c/IntersectionObserver/issues/257 . It's because the root box that the polyfill creates is too big. The fix is to either

[2020-07-10 01:31] rsteei commented on #231
I had a similar issue with firefox/chrome and alt tag. I added to the lazy images following css: display:block;min-width:1px;min-height:1px; and that fixed the issue for me. Maybe that will fix the issue.

[2020-07-21 12:52] kevinmu17 commented on #157
Any news on this? it has been a while and there is still no fix

[2020-07-21 21:04] mortensassi opened #243 "Background-image with gradient"
Your issue may already be reported!
Please search on the [issue track](../) before creating one.

## Expected Behavior

I have an background image with linear gradient which uses the css-filter to mulitply
[code]

when you prepare the original image with the gradient parameters like this:

[code]

## Current Behavior

it actually gets processed like this:
[code]

## Context

Trying to use an image

[2020-07-25 23:27] ApoorvSaxena commented on #242
@bsteephenson thanks for sharing this information, [FAQs](https://github.com/ApoorvSaxena/lozad.js/wiki/Frequently-Asked-Questions) updated.

[2020-07-25 23:27] #242 closed

[2020-07-25 23:29] ApoorvSaxena commented on #237
@rgllm code samples would help debug.

[2020-07-25 23:31] ApoorvSaxena commented on #240
@inglesuniversal Codepen sample would be appreciated to debug

[2020-07-31 14:35] Brodiero opened #244 "How to add a class/selector to <img> when using <picture>"
Not an issue but I'm struggling to find how to do this. In using the picture/source/img responsive setup I need to add a class directly to the <img> element (for a different GSAP array).

I've searched the issues here and haven't found success, can anyone help?

TIA

[2020-08-02 08:22] owaisahmed5300 commented on #49
Here is example,

var container = document.querySelectorAll('.lozad-container img');
var observer = lozad(container, {
     loaded: function(el) {
         $(el).on('load', function () {
           // When the image is completely loaded
          // code here.
         });
     },
});
observer.observe();

[2020-08-05 08:45] #49 closed

[2020-08-08 03:28] gabrielsze opened #245 "dynamic lozad does not load data-src"
Your issue may already be reported!
Please search on the [issue track](../) before creating one.

## Expected Behavior
I followed the documentation to call `observer.observer()` on adding dynamic components.

## Current Behavior
The current/previous images loads normally, but the newly added components does not load. The new components has `src` as the placeholder (haven't been converted to `data-

[2020-09-06 08:16] ApoorvSaxena commented on #232
fixed by https://github.com/ApoorvSaxena/lozad.js/pull/225

[2020-09-16 21:57] cesguto commented on #36
Hello
Try
`el.style.backgroundImage = "url('" + el.getAttribute("data-background-image") + "')";`

[2020-09-18 07:21] golubvladimir opened #247 "How use lozad with nuxt (vue) ?"
I installed lozad by npm.

I created plugin lozad.js.

[code]

In container mounted lifecycle called function:

[code]

I want use lozad with picture tag.

[code]

Why my placeholder image from img tag did not load, instead, the image from the first source.

[2020-09-23 17:29] #232 closed

[2020-10-05 03:00] mogularpb commented on #183
This issues appears when using a <picture> element. If the `data-alt` attribute equals an empty string, no alt attribute is added to the <img> element. This means that the image will still be attempted to be read by a screen reader, even though there is nothing meaningful to read - it will default to reading out the image file name. To avoid this an empty alt attribute should be added.

[2020-10-14 11:26] ericstratmann opened #251 "Reloaded elements are not loaded lazily"
## Expected Behavior
When `enableAutoReload=true` and a data attribute changes on an element that had been previously loaded, the element should not be reloaded until it is in the viewport.

## Current Behavior
When the element's data attribute changes, lozad immediately reloads the element even when not in the viewport.

## Possible Solution
The mutation callback could check if the element is vis

[2020-10-20 10:47] kashish609jain commented on #157
hey @ApoorvSaxena please assign this issue to me

[2020-10-20 15:48] kashish609jain commented on #162
hey @viveklambhi1 actually when I was opening this website with my phone I didn't faced any problem and I have checked with samsung phone .

[2020-10-30 14:12] Alphasaurs commented on #180
#253

[2020-11-05 05:43] #180 closed

[2020-11-06 13:41] elliott-impression opened #256 "Compatibility with smooth scroll"
Hello,

## Expected Behavior
It should work as expected/normal behaviour when using a smooth-scroll library, for example [locomotive-scroll](https://github.com/locomotivemtl/locomotive-scroll).

## Current Behavior
It does not work, which is likely because Lozad does not know the current scroll position.

## Possible Solution
Option to detect by native (existing) scroll or by another means on desk

[2020-11-24 07:13] shivbabbar commented on #156
jQuery("img").each(function(i, elm) {
            imgDeliverySrc = jQuery(this).attr("src");
            jQuery(this).attr("data-src", imgDeliverySrc);
            jQuery(this).addClass("lozad");
       }).promise().done( function(){

        //alert("All was done");

        my_custom_run_lozad();

       });  // each loop completed

    function my_custom_run_lozad()
    {
        const observer

[2020-11-25 20:24] podlebar commented on #247
[code]

something like this made it work for me but i needed to change `srcset` attrib to `data-srcset`.

[2020-12-10 14:46] sajcics opened #257 "data-srcset 'w' attribute explanation"
I can't find explanation what exactly `w` attribute inside data-srcset stands for?
When I define `<img class="lozad" data-srcset="img1.jpg 500w, img2.jpg 1000w">`
does `500w` means to min-width or max-width of the screen or?

Thank you.

[2020-12-17 13:27] sajcics commented on #257
Yeah. I found out answer. If someone has same question, follow this link: https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images

[2020-12-17 13:27] #257 closed

[2020-12-29 20:20] ivodolenc commented on #144
Correct me if I'm wrong, but here's an idea:

[code]

Output:

[code]

Don't add a `lozad` class directly to the `<picture>` tag, but to the `<img>` tag. This way you can add custom styles (such as `aspect-ratio` or additional classes) to the `<picture>` and `<img>` tags. You also avoid the confusing `data-iesrc` attribute.

[2021-01-07 18:11] pieterjandesmedt commented on #188
It's also good to do a check on `image.complete`, for images that are already buffered. Firefox didn't fire the `.onload` in that case.
[code]

[2021-02-05 11:07] olehhladkov opened #261 "Gulp.js issue: Cannot set property 'lozad' of undefined"
Hi, thanks for the cool library!
Recently faced an unobvious problem

## Current Behavior
When adding a library using gulp.js (concatenate many scripts into one file), I get the error `Cannot set property 'lozad' of undefined`, the error was in this line of code `(global.lozad = factory());` global was undefined
although when loading via cdn - there are no errors

## Possible Solution
I added a si

[2021-02-21 07:21] suupic commented on #209
update changelog please

[2021-02-23 23:36] teebling commented on #144
Hello mate, you wouldn't happen to have that modified file would you? I don't know how to patch lozad.js with this diff file.

[2021-03-02 07:52] bitbruder commented on #144
Hey @teebling, just use [patch-package](https://github.com/ds300/patch-package) - its super easy and well documented. By the way: you can get patch files from any pull request by just adding ".patch" to the end of any pull request URL.

See this PR im using? https://github.com/ApoorvSaxena/lozad.js/pull/145

Just add ".patch" to the end of the URL and see what happens. :-)

[2021-03-08 11:19] rajeshsolanki345 opened #262 "Does not work in Smart Tv"
Hello,

I am using lozad.js for images and it is working fine on all devices but issue with the smart TV. Image does not load in smart TV.

Thank you.

[2021-04-14 09:31] TousifMir opened #264 "Including responsive blurred images using Lozad?"
I am working on a scenario where the responsive image should lazy load but need to include blurred images as fall back for all responsive images.

1. How can I include multiple responsive blurred images for 1x 2x etc?
2. Can I use 1x 2x instead of 1000w 2000w in data-srcset attribute?

`<img class="lozad image-to-load-first" data-srcset="computer@1x.jpg 1000w, computer@2x.jpg 2000w" />`

[2021-05-09 20:12] stevehackreactor opened #267 "Readme.md Missing/inconsistent punctuation"
## Current Behavior
The list describing Lozad.js following the banner in Readme.md is inconsistent and does not follow English best practices for bullet points.

(potential issue)
There are several instances of missing Oxford commas in the Readme.md.
Although the Oxford comma is generally considered optional, proponents argue it removes ambiguity which I think could only help people understand the

[2021-05-19 17:33] Giovancruz commented on #235
+1

[2021-05-19 17:38] Giovancruz commented on #235
On doc describes the method 'loaded', maybe it help you:

    lozad('.lozad', {
	    loaded: function(el) {
	        // Custom implementation on a loaded element
	        el.classList.add('loaded');
	    }
	});

[2021-06-10 15:47] manish0197 opened #268 "lozad Not Work In Laravel Website"
hey I am using the lazy size on laravel website But Imahes Not Load Lazy Not Workin

See My SIte -https://cbeditz.com/photo/6653/white-wolf-picsart-editing-background-hd-download

[2021-07-13 14:10] svirmi commented on #244
I have added class to dynamically created target image:

`const pictureTagObserver = lozad("picture.lozad", {
    threshold: 0.1,
    load: function(el) {
      const img = document.createElement("img");
      const src = "https://imagesrc.io"
      img.setAttribute("src", src);
      img.setAttribute("class", el.getAttribute("data-class"));
      el.appendChild(img);
    }
  });`

[2021-08-05 12:51] AbdellaouiSofiane opened #270 "Adding img placeholder to picture tag causes lazy loading to fail."
I'm trying to use lozad with a picture tag and and img placeholder like described in documentation:

[code]
Without the img placeholder, it works fine, but adding an `img` tag actually causes all images to be loaded  (even if not within viewport) like when not using lozad at all (except the picture tag gets `data-loaded=true`).

I'm using `Chrome Version 92.0.4515.107` (64 bits) and I'm on `Ubuntu

[2021-08-08 16:36] Froxz commented on #262
Hi @rajeshsolanki345 this library uses [Intersection Observer](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API)

You have to check if Smart TV browser support it, if doesn't polyfill it.

P.S. Provide more info, is hard to understand you issue.

[2021-08-19 16:41] malkomich opened #272 "enableAutoReload for background images"
I am not able to get my images reloaded, enabling the parameter `enableAutoReload `, while using the `data-background-image` to provide the image source.

## Expected Behavior
The background image should be updated for the observed element.

## Current Behavior
The element keeps with the same background image, and the observer is not triggering the update.

## Steps to Reproduce (for bugs)
Followi

[2021-08-30 15:21] Giovancruz commented on #157
+1

[2021-09-10 15:02] jpcarpenter commented on #270
+1 Encountering the same issue. It would be awesome to have this work properly.

[2021-09-10 16:21] AbdellaouiSofiane commented on #270
Was able to make it work, just place the `img` element before the `picture` tag (don't put any `img` element inside).
For some reason it worked, you can try it.

[2021-09-10 19:38] jpcarpenter commented on #270
@AbdellaouiSofiane nice catch! Adding that works when loading the page and scrolling to the image that has lozad enabled on it. However, if you load the page over the image that has lozad enabled on it, the `<img>` tag never gets appended to the `<picture>` tag, resulting in the placeholder showing instead. Not sure what's going on there. Maybe something to do with `IntersectionObserver`?

[2021-10-15 17:46] arnaudpfundstein opened #275 "Avoid reloading with autoplay video"
I am creating a webiste using video with the autplay attribute.
When I open my console to check the loaded media, I can see that if I cross my page from the top to the bottom and vice versa, my videos are loaded again. It is sending httpRequests endlessly.
However if I remove autoplay, it works fine.

Do you have any suggestion ?

[2021-10-27 05:09] YHartonuk opened #276 "Lazy load images are missing for print page for all browsers"
Lazy load images are missing for print page for all browsers

[2021-11-19 18:46] spaceninja commented on #215
Can confirm that adding `Element.prototype.append`, `Object.assign`, & `IntersectionObserver` to our polyfill.io did the trick. The example polyfill.io URL in the readme should be updated.

[2021-12-07 16:28] LibbyJane commented on #177
You are a SAINT! I was tearing my hair out with this issue, thank you for posting ⭐

[2021-12-08 05:01] Hemanth-M-K commented on #272
any update on this issue? or any solution for this issue?

[2022-01-05 10:13] mksmanjit opened #278 "Images under Sub menu with visibility:hidden does not not loads lazily"
In our application home page, we have menu bar on which customer can hover and sub Menu become visible and we are showing some images in our some menu.
But I can see even before hovering on the menu bar, the sub menu images already loaded(Verified in the network tab).

In every other places it is working fine only on sub menu images it loading eagerly instead of lazily.

Can some one give me some

[2022-02-17 21:50] saiballo commented on #270
Same problem here... no way to validate the html source without img tag inside picture. but if I add the img tag the script fails

[2022-02-24 16:50] Dru-S commented on #235
Does anyone have found any solution for this, or someone have already open a pull request?

Maybe it's possibile to simply add a `beforeLoad()` and an `afterLoad()` functions, before and after the `load()` one, something like:
[code]
and call them in the `observe` and `triggerLoad` methods, like:
[code]

What do you guys think?

Cc @ApoorvSaxena

[2022-02-25 10:34] saiballo commented on #270
any suggestion?

[2022-04-08 07:44] jsandeo commented on #144
I'd rather avoid maintaining my own patched version of any 3rd party software. As a workaround, I've used this:

[code]

This has the benefit that you get to use any classes you might need for layout at the `<img>` and also to place the 'alt' attribute right where it belongs. I use 'data-srcset' insted of just 'srcset' in the `<source>` elements because modern browsers will fetch their preferred i

[2022-04-13 20:18] galetahub commented on #270
Try this one https://github.com/verlok/vanilla-lazyload
Works fine with picture + img, the setup script is almost the same

[2022-05-21 08:09] mehdy-karimpour opened #279 "Lozad doesn`t replace src with data-src"
Hi,

I am using `Lozad` in my React Typescript project. I put the following code

[code]

When new images are in same view or sometimes in page routings, the `Lozad` does not replace `src` with `data-src` attribute and the result is seeing the low quality images not normal ones, **but actually when I inspected the elements, all images have `lozad-fade` class. It is strange for me!**

Would you ple

[2022-05-23 06:21] #279 closed

[2022-07-11 14:35] geyst commented on #188
I wanted to implement this but it only triggers when all my images are loaded.
What am I doing wrong?

[code]

Thanks!

[2022-09-01 11:06] jcsuzanne commented on #144
Nice solution!

[2022-10-27 09:29] Decay24 opened #283 "Load Next slide Image in a carousel while on current slide using lozad. (load n+1th slide while on nth slide)"
I'm currently using lozad in a carousel and it works fine but to improve performance I need the image of the immediate next slide in carousel to load while on current slide.

Tried changing values of root margin but it still loads image once that slide is on viewport.

-------------------------------------
var observer = lozad('.lozad', {
            threshold: 0,
            rootMargin: '600px'